@import url("main_board_pc.css");
@media only all and (max-width: 1023px) {
    .btns-area {
        padding-top: 1.538rem
    }
    .btns-area,
    .btns-area .btns-left,
    .btns-area .btns-right {
        float: none;
        text-align: center;
    }
    .btns-left>a,
    .btns-left>button,
    .btns-right>a,
    .btns-right>button {
        margin: 0;
    }
    .btns-area>a,
    .btns-area>button {
        margin: 0;
    }
    .btn-b {
        width: 100%;
        padding-top: 0.9583rem;
        height: 3.333rem;
        font-size: 1.333rem;
        line-height: 1.583rem;
        margin: 0;
    }
    .max-width01 {
        max-width: 14.58rem
    }
    .btn-m,
    .btn-m02 {
        display: block;
        width: 100%;
        height: 2.308rem;
        line-height: 2.308rem;
        font-size: 0.9231rem;
        padding: 0;
        margin: 0;
    }
    .btns-area .btn-m:first-child {
        margin-left: 0 !important;
    }
    .btns-area .depth2 {
        float: left;
        width: 49%;
    }
    .btns-area .depth2:nth-child(even) {
        float: right;
    }
    .btns-area .depth3 {
        float: left;
        width: 32%;
        margin-left: 2%;
        margin-right: 0;
        font-size: 1rem;
    }
    .btns-area .depth4 {
        float: left;
        width: 49%;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 2%;
        font-size: 1rem;
    }
    .btns-area .depth4:nth-child(even) {
        float: right;
    }
    .btns-area .btn-m.depth3,
    .btns-area .btn-m02.depth3 {
        float: none;
        width: 32%;
        margin-left: 2%;
        margin-right: 0;
        font-size: 1rem;
    }
    .btns-area .depth3:first-child {
        margin-left: 0;
    }
    .btns-area .btn-m.depth4,
    .btns-area .btn-m02.depth4 {
        float: left;
        width: 23.5%;
        margin-left: 2%;
    }
    .btns-area .btns-left .btn-m02:first-child {
        margin-left: 0 !important;
        ;
    }
    .btns-area .btns-right .btn-m.depth2,
    .btns-area .btns-right .btn-m.depth3,
    .btns-area .btns-right .btn-m.depth4,
    .btns-area .btns-right .btn-m02.depth2,
    .btns-area .btns-right .btn-m02.depth3,
    .btns-area .btns-right .btn-m02.depth4 {
        margin-left: 2% !important;
    }
    .btns-area.mb20 {
        margin-bottom: 0.7692rem !important;
    }
    .board-area .search-wrapper>.total {
        float: none;
        text-align: left;
        font-size: 1rem;
        line-height: 1.154rem;
        padding-left: 1rem;
        background-size: 0.6667rem 0.8333rem;
        background-position: left 40%;
    }
    .board-area .search-wrapper {
        margin-bottom: 0.75rem;
        padding: 0;
    }
    .board-area .search-area {
        float: none !important;
        position: relative;
        display: block;
        padding-left: 7.308rem;
        margin-bottom: 1.154rem;
    }
    .board-area .search-area select {
        position: absolute;
        top: 0;
        left: 0;
        float: none;
        clear: both;
        width: 6.923rem;
        height: 2.692rem;
        margin-right: 0;
        color: #6c6e6f;
        font-size: 1rem;
        text-indent: 0.7692rem;
        background-position: 90% center;
        background-size: 0.7692rem 0.4615rem;
    }
    .board-area .search-area .search-box {
        position: relative;
        float: none;
        padding-right: 5rem;
        display: block;
    }
    .board-area .search-area .search-box input[type="search"] {
        display: block;
        float: none;
        width: 100%;
        height: 2.692rem;
        margin-right: 0;
        text-indent: 0.7692rem;
        font-size: 1rem;
    }
    .board-area .search-area .search-box input[type="submit"] {
        position: absolute;
        top: 0;
        right: 0;
        float: none;
        width: 5rem;
        height: 2.692rem;
        ;
        line-height: 2.692rem;
        font-size: 0.9231rem;
        background-size: 2.692rem;
        2.692rem;
    }
    .board-area .add-select-search-wrapper {
        float: none;
    }
    .board-area .add-select-search-wrapper .search-select-wrapper {
        float: none;
        margin-bottom: 0.625rem;
    }
    .board-area .add-select-search-wrapper .search-select-wrapper:after {
        content: "";
        clear: both;
        display: block;
    }
    .board-area .add-select-search-wrapper .search-select-wrapper select {
        width: 49.5%;
        height: 2.692rem;
        margin-right: 0;
        color: #6c6e6f;
        font-size: 1rem;
        text-indent: 0.7692rem;
        background-position: 90% center;
        background-size: 0.7692rem 0.4615rem;
    }
    .board-area .add-select-search-wrapper .search-select-wrapper select:nth-child(even) {
        float: right;
    }
    .board-area .search-wrapper.sort {
        position: relative;
        padding-top: 0;
    }
    .board-area .search-wrapper.sort>.total {
        position: static;
    }
    .board-area .search-wrapper.sort .sort-select-area,
    .board-area .search-wrapper.sort .sort-select-area .sort-select-box {
        float: none;
    }
    .board-area .search-wrapper.sort .sort-select-area .sort-select-box {
        margin-bottom: 0.5769rem;
    }
    .board-area .search-wrapper.sort .sort-select-area .sort-select-box:after {
        content: "";
        clear: both;
        display: block;
    }
    .board-area .search-wrapper.sort .sort-select-area .sort-select-box select {
        float: none;
        width: 100%;
        height: 2.692rem;
        margin-right: 0;
        color: #6c6e6f;
        font-size: 1rem;
        text-indent: 0.7692rem;
        background-position: 98% center;
        background-size: 0.7692rem 0.4615rem;
    }
    .board-area .search-wrapper.sort .sort-select-area .sort-select-box.depth1 select {
        position: absolute;
        top: 0;
        left: 0;
        width: 6.923rem
    }
    .board-area .search-wrapper.sort .sort-select-area .sort-select-box.depth1+.search-area {
        margin-left: 7.308rem;
    }
    .board-area .search-wrapper.sort .sort-select-area .sort-select-box.depth2 select {
        float: left;
        width: 49.5%;
    }
    .board-area .search-wrapper.sort .sort-select-area .sort-select-box.depth2 select:nth-child(even) {
        float: right;
    }
    .board-area .search-wrapper.sort .sort-select-area .sort-select-box.depth3 select {
        float: left;
        width: 33%;
        margin-right: 0.5%;
        background-position: 95% center;
    }
    .board-area .search-wrapper.sort .sort-select-area .sort-select-box.depth3 select:last-child {
        margin-right: 0;
    }
    /* 게시판 목록 */
    .board-list01 {
        clear: both;
    }
    .board-list01 table {
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .board-list01 table .no-thead,
    .board-list01 table .no-thead th {
        font-size: 0;
        height: 0;
        padding: 0;
        line-height: 0;
        color: transparent;
    }
    .board-list01 table th,
    .board-list01 table td {
        position: relative;
        border-width: 0;
    }
    .board-list01 table thead th {
        font-size: 1rem;
        line-height: 1.5rem;
        padding: 1.115rem 0.5769rem;
    }
    .board-list01 table tbody td {
        font-size: 1rem;
        line-height: 1.5rem;
        padding: 0.7692rem;
    }
    .board-list01 table tbody td.title a {
        position: relative;
        display: block;
        max-width: calc(100% - 2.5rem);
        padding: 0.7692rem;
        font-size: 1.167rem;
        line-height: 1.5rem;
        white-space: normal;
        word-break: keep-all;
    }
    .board-list01 table tbody td.title a .title-wrapper {
        display: block;
    }
    .board-list01 table tbody td.title a .mobile-info {
        display: block;
    }
    .board-list01 table .title a .mobile-info {
        display: block;
        margin-top: 0.7692rem;
        color: #999999;
        font-size: 0.8462rem;
        line-height: 0.9231rem
    }
    .board-list01 table .title a .mobile-info:after {
        content: "";
        clear: both;
        display: block;
    }
    .board-list01 table .title a .mobile-info>span {
        float: left;
    }
    .board-list01 table .title a .mobile-info>.icon-bar {
        margin: 0.1154rem 0.5769rem 0 0.5769rem;
        width: 0.07692rem;
        height: 0.7692rem;
        background: #dddddd
    }
    .board-list01 table tbody td.no-data {
        font-size: 1rem;
        line-height: 1.5rem;
        padding: 0.7692rem;
    }
    .board-list01 table tbody td .mobile-icon-notice {
        display: inline-block;
        vertical-align: middle;
        padding: 0;
        width: 1.538rem;
        height: 1.538rem;
        line-height: 1.538rem;
        color: #fff;
        background: url(../img02/board/icon_notice@2x.png) no-repeat 0 0;
        background-size: 1.25rem 1.25rem;
        border-radius: 0;
        font-size: 0;
        text-indent: -50000rem;
    }
    .board-list01 table tbody td .icon-department {
        display: inline-block;
        padding: 0 1rem;
        min-width: 6.154rem;
        height: 1.538rem;
        line-height: 1.538rem;
        margin-right: 0;
        border-radius: 0.1923rem;
        font-size: 1rem;
        margin-bottom: 0.3846rem
    }
    .board-list01 table tbody td .board-right-icon-wrapper>.icon-secret {
        display: block;
        margin: 0 auto;
    }
    .board-list01 table tbody td .icon-reply {
        width: 1.538rem;
        height: 1.538rem;
        margin-right: 0.2308rem;
    }
    .board-list01 table tbody td .icon-file {
        width: 1.538rem;
        height: 1.538rem;
    }
    .board-list01 table tbody td .board-right-icon-wrapper {
        position: absolute;
        top: 1.25rem;
        right: 0.5rem;
        margin-left: 0;
    }
    .board-list01 table tbody td .board-right-icon-wrapper>img,
    .board-list01 table tbody td .icon-new {
        display: block;
        width: 1.25rem;
        margin-bottom: 0.2083rem;
    }
    .board-list01 table tbody td .board-right-icon-wrapper>.icon-secret {
        display: block;
        width: 1.25rem;
    }
    .board-list01 table .number {
        display: none;
    }
    .board-list01 table thead .title {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .board-list01 table tbody .title {
        padding: 0;
    }
    .board-list01 table .date,
    .board-list01 table .writer,
    .board-list01 table .hit,
    .board-list01 table .journal,
    .board-list01 table .award,
    .board-list01 table .answer {
        display: none;
    }
    .board-list01 table .file,
    .board-list01 table .state {
        width: 5rem;
    }
    .btn-state {
        width: 3.462rem;
        height: 1.731rem;
        line-height: 1.731rem;
        font-size: 0.9231rem;
    }
    .board-list01.education table .term {
        display: none;
    }
    .board-list01.education table .time {
        display: none;
    }
    .board-list01.education table .application {
        width: 7.692rem;
    }
    .board-list01.education table tbody td {
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .board-list01.education table tbody td.title a {
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .btn-application {
        min-width: 6.154rem;
        height: 1.923rem;
        padding: 0.5rem 0.9615rem 0 0.9615rem;
        font-size: 0.8462rem;
        line-height: 1rem;
        border-radius: 0.9615rem;
    }
    /* 페이징 네비게이션 */
    .paging-navigation {
        margin-top: 1.154rem;
    }
    .paging-navigation a {
        font-size: 0.9231rem;
        line-height: 1.923rem;
        min-width: 1.923rem;
        height: 1.923rem;
        padding: 0 0.1923rem;
        margin: 0;
    }
    .paging-navigation strong {
        line-height: 1.923rem;
        min-width: 1.923rem;
        height: 1.923rem;
        padding: 0 0.1923rem;
        margin: 0;
    }
    .paging-navigation a.btn-first {
        width: 1.923rem;
        padding: 0;
        text-indent: -5000em;
    }
    .paging-navigation a.btn-preview {
        width: 1.923rem;
        padding: 0;
        margin-right: 0;
        text-indent: -5000em;
    }
    .paging-navigation a.btn-next {
        width: 1.923rem;
        padding: 0;
        margin-left: 0;
        text-indent: -5000em;
    }
    .paging-navigation a.btn-last {
        width: 1.923rem;
        padding: 0;
        text-indent: -5000em;
    }
    /* 게시판 글보기 */
    .board-view {
        margin-bottom: 1.154rem;
    }
    .board-view .title-area {
        padding: 0;
    }
    .board-view .title-area>h4 {
        font-size: 1.077rem;
        line-height: 1.385rem;
        padding: 1rem 0;
        word-break: keep-all;
    }
    .board-view .point-answer {
        padding-right: 0.9375rem;
    }
    .board-view .icon-department {
        display: inline-block;
        padding: 0 1rem;
        min-width: 6.154rem;
        height: 1.538rem;
        line-height: 1.538rem;
        border-radius: 0.1923rem;
        font-size: 1rem;
        margin-right: 0.3125rem;
        margin-bottom: 0.3846rem
    }
    .board-view .title-area>.date-hit {
        position: static;
        top: auto;
        top: initial;
        right: 0;
        right: initial;
        font-size: 0.9231rem;
        line-height: 1.462rem;
        margin-top: 0;
        padding: 1.154rem;
        border-top: 1px solid #e3e5df;
    }
    .board-view .title-area>.date-hit>.date {
        padding-right: 0.6538rem;
        margin-right: 0.5769rem;
        background-size: 0.07692rem 0.7308rem;
    }
    .board-view .title-area>.date-hit>p.btn-state {
        padding: 0 1rem;
        height: 1.462rem;
        line-height: 1.462rem;
    }
    .board-view .board-view-information {
        padding: 1rem 0;
    }
    .board-view .board-view-information>dl,
    .board-view .board-view-information>dl dt,
    .board-view .board-view-information>dl dd {
        float: left;
        color: #616161;
        font-size: 0.9231rem;
        line-height: 1.462rem;
    }
    .board-view .board-view-information>dl,
    .board-view .board-view-information>dl.board-view-date {
        font-size: 0.9231rem;
        line-height: 1.462rem;
        position: static;
        padding-right: 0.6538rem;
        margin-right: 0.5769rem;
        background: url(../img02/board/icon_bar04@2x.gif) no-repeat right center;
        background-size: 0.07692rem 0.7308rem;
    }
    .board-view .board-view-information>dl dt,
    .board-view .board-view-information>dl.board-view-date dt {
        display: inline-block;
        margin-right: 0.6538rem;
        ;
    }
    .board-view .attached-file-wrapper {
        padding: 1.154rem 0 1.154rem 4.5rem;
        font-size: 0.9231rem;
        line-height: 1.462rem;
    }
    .board-view .attached-file-wrapper dt {
        position: absolute;
        top: 0;
        left: 0;
        padding: 1.154rem 0;
    }
    .board-view .attached-file-wrapper dd>p {
        margin-top: 0.625rem;
        margin-bottom: 0;
    }
    .board-view .attached-file-wrapper dd>p>a {
        float: none;
        display: block;
        margin-right: 0;
        padding-left: 1.923rem;
        font-size: 0.9231rem;
        line-height: 1.462rem;
        background-size: 1.25rem 1.25rem;
        color: #424242;
    }
    .board-view .attached-file-wrapper>a:last-child {
        margin-bottom: 0;
    }
    .board-view .schdule-dl {
        position: relative;
        padding: 20px 30px 20px 110px;
    }
    .board-view .schdule-dl>dt {
        position: absolute;
        top: 17px;
        left: 30px;
        ;
        width: 60px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        color: #45aa65;
        bordeR: 1px solid #45aa65;
    }
    .board-view .schdule-dl>dd {
        display: block;
        font-size: 1rem;
        line-height: 1.5rem;
        color: #555555;
        font-weight: 300;
    }
    .board-view .explain-wrapper {
        border-bottom: 1px solid #e0e0e0;
        padding: 17px 30px;
    }
    .board-view .explain-wrapper:after {
        content: "";
        clear: both;
        display: block;
    }
    .board-view .explain-wrapper>dl {
        float: left;
        font-size: 16px;
        line-height: 26px;
        padding-right: 20px;
        margin-left: 20px;
        background-image: transparent url(../../../common/images/board/icon_bar02.gif);
        background-image: -webkit-linear-gradient(transparent, transparent), url(../../../common/images/board/icon_bar02@2x.gif);
        background-image: linear-gradient(transparent, transparent), url(../../../common/images/board/icon_bar02@2x.gif);
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 1px 14px;
    }
    .board-view .explain-wrapper>dl:first-child {
        margin-left: 0;
    }
    .board-view .explain-wrapper>dl:last-child {
        background-image: none;
    }
    .board-view .explain-wrapper>dl>dt {
        display: inline-block;
        padding-right: 15px;
        color: #212121;
        font-weight: 500;
    }
    .board-view .explain-wrapper>dl>dd {
        display: inline-block;
    }
    .board-view .board-contents {
        padding: 1.923rem 1.154rem;
        min-height: 11.54rem;
    }

	.board-view .board-contents img {
		max-width: 100%;
	}
    .board-view .board-contents>pre {
        font-size: 1rem;
        line-height: 1.538rem;
        font-weight: 400;
        text-align: left;
    }
    .board-view-answer-wrapper {
        padding: 1.923rem 1.154rem;
    }
    .board-view-answer-wrapper .board-view-answer-title {
        margin: 0 0 1.25rem 0;
        padding: 0 0 0 0.9375rem;
        background-position: left 0.3125rem;
        background-size: 0.5rem 0.5rem;
    }
    .board-view-answer-wrapper .board-view-answer-title .circle {
        margin-right: 0.3125rem;
        width: 1.625rem;
        height: 1.625rem;
        line-height: 1.625rem;
    }
    .board-view-answer-wrapper .board-view-answer-title>strong {
        line-height: 1.625rem;
    }
    .board-view-answer-wrapper .department-wrapper,
    .board-view-answer-wrapper>pre {
        font-size: 1rem;
        line-height: 1.538rem;
        margin-left: 0;
        margin-bottom: 0.4167rem
    }
    .preview-next a>dl {
        position: relative;
        padding: 1.154rem 1.154rem 1.154rem 5.885rem;
    }
    .preview-next a>dl>dt {
        position: absolute;
        top: 50%;
        left: 0;
        width: 4.731rem;
        padding-left: 1.154rem;
        margin-top: -0.643rem;
        font-size: 0.9231rem;
        line-height: 1.462rem;
        background-size: 0.3077rem 0.1538rem;
    }
    .preview-next a:nth-child(even)>dl>dt {
        background-size: 0.3077rem 0.1538rem;
    }
    .preview-next a>dl>dd {
        height: 1.154rem;
        line-height: 1.154rem;
        font-size: 0.9231rem;
    }
    /* 글쓰기 */
    .board-write {
        margin-bottom: 0;
    }
    .one-box.top-line {
        border: 0;
    }
    .half-box {
        float: none;
        width: 100%;
    }
    .one-box.top-line .half-box {
        border-top: 1px solid #e0e0e0
    }
    .board-write dl {
        padding-left: 6.923rem;
    }
    .board-write dl.left-line {
        border-left: 0;
    }
    .board-write dl>dt {
        width: 6.538rem;
        height: 3.462rem;
        line-height: 2.692rem;
        padding: 0.3846rem 0 0.3846rem 0.7692rem;
        font-size: 0.9231rem;
    }
    .board-write dl>dt.mobile-line2 {
        top: 50%;
        height: auto;
        font-size: 0.9231rem;
        line-height: 1.308rem;
        margin-top: -1.692rem;
    }
    .board-write dl>dt.mobile-line3 {
        height: auto;
        font-size: 0.9231rem;
        line-height: 1.308rem;
        margin-top: -2.346rem;
    }
    .board-write dl>dd {
        min-height: 3.462rem;
        padding: 0.3846rem;
    }
    .board-write dl>dd select,
    .board-write dl>dd input[type="text"],
    .board-write dl>dd input[type="password"],
    .board-write dl>dd input[type="number"] {
        height: 2.692rem;
        line-height: 2.692rem;
        font-size: 0.9231rem;
    }
    .board-write dl>dd select,
    .board-write dl>dd input[type="password"] {
        width: 100%;
    }
    .board-write dl>dd select {
        background-size: 0.9231rem 0.4615rem
    }
    .board-write dl>dd textarea {
        height: 10.38rem;
        padding: 0.7692rem;
        font-size: 0.9231rem;
        line-height: 1.154rem
    }
    .attached-file-wrapper {
        padding-right: 6.154rem;
    }
    .attached-file-wrapper .upload-btn_wrap .input_file {
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
        width: 5.769rem;
        ;
        height: 2.692rem;
    }
    .attached-file-wrapper .upload-btn_wrap {
        /*버튼테두리 감싼 div*/
        width: 5.769rem;
        ;
        height: 2.692rem;
    }
    .attached-file-wrapper .upload-btn_wrap button {
        width: 5.769rem;
        ;
        height: 2.692rem;
        font-size: 0.9231rem;
    }
    .attached-file-wrapper .upload-btn_wrap button>span {
        margin-right: 0;
    }
    .attached-file-wrapper .upload-btn_wrap button>img {
        display: none;
    }
    /* 박람회 일정 */
    .schdule-area>a {
        position: relative;
        display: block;
        padding: 1.154rem 4.423rem 1.154rem 0.5769rem;
    }
    .schdule-area>a>.title {
        margin-bottom: 0.7692rem;
        font-size: 1rem;
        line-height: 1.231rem;
    }
    .schdule-information-area {
        float: none;
        width: 100%;
    }
    .schdule-information-area:nth-child(even) {
        float: none;
    }
    .schdule-information-box {
        padding-left: 3.077rem;
        margin-bottom: 0.1923rem;
        font-size: 0.9231rem;
        line-height: 1.346rem;
    }
    .schdule-information-box strong {
        width: 2.5rem;
        height: 1.346rem;
        font-size: 0.8462rem;
        line-height: 1.346rem;
    }
    .schdule-area>a .arrow {
        right: 1.154rem;
        width: 1.923rem;
        height: 1.923rem;
        margin-top: -0.9615rem;
        background-size: 1.923rem 1.923rem;
    }
    .schdule-area>a:hover .arrow {
        background-size: 1.923rem 1.923rem;
    }
    .board-write dl>dd .selected-yymmdd {
        float: none;
        width: 100%;
        margin-bottom: 0.3846rem
    }
    .board-write dl>dd .selected-yymmdd:after {
        content: "";
        clear: both;
        display: block;
    }
    .board-write dl>dd .selected-yymmdd>select {
        height: 2.692rem;
        line-height: 2.692rem;
        font-size: 0.9231rem;
        text-indent: 0.3846rem !important
    }
    .board-write dl>dd .selected-yymmdd>span {
        height: 2.692rem;
        line-height: 2.692rem;
        font-size: 0.9231rem;
    }
    .board-write dl>dd .selected-time-term-wrapper {
        float: none;
        width: 100%;
    }
    .board-write dl>dd .selected-time-term-wrapper .selected-time-term-area>select {
        text-indent: 0.3846rem !important
    }
    .board-write dl>dd .selected-time-term-wrapper .selected-time-term-area>span {
        height: 2.692rem;
        line-height: 2.692rem;
        font-size: 0.9231rem;
    }
    .board-write dl>dd .selected-time-term-wrapper .word-unit {
        height: 2.692rem;
        line-height: 2.692rem;
        font-size: 0.9231rem;
    }
    .board-write dl>dd .input-counter-wrapper .input-counter-area {
        padding-left: 3.077rem;
        padding-right: 1.923rem;
    }
    .board-write dl>dd .input-counter-wrapper .input-counter-area>label {
        width: 3.077rem;
        height: 2.692rem;
        line-height: 2.692rem;
        font-size: 0.9231rem;
        margin-left: -3.077rem;
    }
    .board-write dl>dd .input-counter-wrapper .input-counter-area>input[type="number"] {
        height: 2.692rem;
        line-height: 2.692rem;
        font-size: 0.9231rem;
    }
    .board-write dl>dd .input-counter-wrapper .input-counter-area>span {
        width: 2.692rem;
        height: 2.692rem;
        line-height: 2.692rem;
        margin-right: -2.692rem;
        font-size: 0.9231rem;
    }
    .board-write dl>dd .input-phone-wrapper select,
    .board-write dl>dd .input-phone-wrapper input[type="number"] {
        height: 2.692rem;
        line-height: 2.692rem;
    }
    .board-write dl>dd .input-phone-wrapper>span {
        height: 2.692rem;
        line-height: 2.692rem;
    }
    .board-write dl>dd .max,
    .board-write dl>dd .max02 {
        max-width: 100% !important;
    }
    .search-result-wrapper {
        margin-top: 1.923rem;
    }
    .search-result-wrapper dl>dd {
        padding: 1.077rem 0.5769rem 1.077rem 0.5769rem;
        font-size: 0.9231rem;
        line-height: 1.308rem;
        word-break: keep-all;
    }
    .board-write dl>dd .input-professor-wrapper>input[type="text"] {
        height: 2.692rem;
        line-height: 2.692rem;
    }
    .board-write dl>dd .input-professor-wrapper>span {
        height: 2.692rem;
        line-height: 2.692rem;
    }
    .board-write dl>dd .input-name-wrapper {
        position: relative;
        float: none;
        max-width: 100%;
        margin-right: 0;
        padding-left: 3.077rem;
        margin-bottom: 0.3846rem;
    }
    .board-write dl>dd .input-name-wrapper.mr0.mb0 {
        margin-top: 0.3846rem;
    }
    .board-write dl>dd .input-name-wrapper>label {
        left: 0;
        font-size: 0.9231rem;
        margin-top: - 0.4615rem;
    }
    .board-write dl>dd .phone-label-input-wrapper {
        float: none;
        max-width: 100%;
        padding-left: 3.077rem;
        margin-right: 0;
    }
    .board-write dl>dd .phone-label-input-wrapper>label {
        left: 0;
        font-size: 0.9231rem;
        margin-top: - 0.4615rem;
    }
    .board-write dl>dd .input-class-wrapper {
        width: 47.5%;
        max-width: 7.692rem;
        margin-right: 5%;
        padding-left: 3.077rem;
    }
    .board-write dl>dd .input-class-wrapper.type02 {
        max-width: 7.692rem;
        width: 47.5%;
        margin-right: 0;
    }
    .board-write dl>dd .input-class-wrapper.type02 input[type="number"] {
        width: 100%;
    }
    .board-write dl>dd .input-class-wrapper>label {
        left: 0;
        font-size: 0.9231rem;
        margin-top: - 0.4615rem;
    }
    .board-write dl>dd .input-professor-wrapper.depth2 {
        float: none;
        margin-right: 0;
        margin-bottom: 0.3846rem
    }
    .board-write dl>dd .input-people-wrapper {
        position: relative;
        max-width: 9.231rem;
        padding-right: 1.538rem;
    }
    .checked-notice {
        margin-bottom: 0.3846rem;
        ;
    }
    .checked-notice input[type="checkbox"] {
        line-height: 1.385rem;
    }
    .checked-notice label {
        font-size: 0.9231rem;
        line-height: 1.385rem;
    }
    .input-period-wrapper {
        max-width: 100%;
    }
    .input-period-wrapper .word-unit {
        height: 2.692rem;
        line-height: 2.692rem;
    }
    /* 포토갤러리 */
    .photo-list-wrapper {
        padding-top: 0;
        padding-bottom: 1.875rem;
        margin-left: 0;
    }
    .photo-list-wrapper>li {
        float: left;
        width: 48%;
        margin-right: 0;
        margin-bottom: 2.5rem;
    }
    .photo-list-wrapper>li:nth-child(4n),
    .photo-list-wrapper>li:nth-child(3n) {
        margin-right: 0;
    }
    .photo-list-wrapper>li:nth-child(even) {
        float: right;
    }
    .photo-list-wrapper>li>a .icon-new {
        top: 0.3846rem;
        left: 0.3846rem;
        width: 1.154rem;
        height: 1.154rem;
        background-size: 1.154rem 1.154rem
    }
    .photo-list-wrapper>li>a>.image {
        margin-bottom: 1rem;
    }
    .photo-list-wrapper>li>a>strong {
        font-size: 1.167rem;
        line-height: 1.875rem;
    }
    .photo-list-wrapper>li>a>.date {
        font-size: 1rem;
        line-height: 1.375rem;
    }
    .board-view02 table tbody th {
        padding: 0.5769rem 1.154rem;
        font-size: 1rem;
        line-height: 1.385rem;
    }
    .board-view02 table tbody th.bg02 {
        padding: 0.5769rem 1.154rem;
    }
    .board-view02 table tbody td {
        font-size: 1rem;
        line-height: 1.385rem;
        padding: 0.5769rem 1.154rem;
    }
    .board-view02 table tbody td>ul>li {
        padding-left: 0.5385rem;
        font-size: 1rem;
        line-height: 1.385rem;
    }
    .board-view02+.btns-area {
        padding-top: 1.538rem;
        margin-top: 0;
    }
    /* thumbnail */
    .thumbnail-area {
        padding: 1.25rem 0;
    }
    .thumbnail-area>a {
        padding-left: 11.21rem;
        min-height: 6.667rem;
    }
    .thumbnail-area>a>.image {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 10rem;
        height: 6.667rem;
    }
    .thumbnail-area>a .thumbnail-informaiton {
        display: block;
        padding-top: 0;
    }
    .thumbnail-area>a .thumbnail-informaiton>strong {
        margin-bottom: 1rem;
        max-height: 4.75rem;
        font-size: 1.167rem;
        line-height: 1.583rem;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .thumbnail-area>a .thumbnail-informaiton>.substance {
        display: none;
    }
    .thumbnail-area>a .thumbnail-informaiton .date {
        padding-left: 1.625rem;
        font-size: 1rem;
        line-height: 1.083rem;
        background-image: url(../img02/board/icon_time01.png);
        background-repeat: no-repeat;
        background-position: 0 40%;
        background-size: 1.083rem 1.083rem;
    }
    .layerpopup-password-wrapper {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        width: 21.25rem;
        margin-left: -10.63rem;
        border-radius: 0.3333rem;
        -webkit-box-shadow: 0.2083rem 0.2083rem 0.4167rem 0px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0.2083rem 0.2083rem 0.4167rem 0px rgba(0, 0, 0, 0.5);
        box-shadow: 0.2083rem 0.2083rem 0.4167rem 0px rgba(0, 0, 0, 0.5);
    }
    .layerpopup-password-area {
        width: 100%;
        padding: 2.083rem 1.458rem 1.667rem 1.458rem;
        ;
        text-align: center;
    }
    .layerpopup-password-area label {
        display: block;
        height: 1.667rem;
        line-height: 1.667rem;
        color: #000000;
        font-size: 1.5rem;
        margin-bottom: 1.667rem;
    }
    .layerpopup-password-area input[type="password"] {
        height: 2.5rem;
        text-indent: 0.8333rem !important;
        font-size: 1.125rem;
    }
    .layerpopup-password-wrapper .footer-button-wrapper {
        height: 2.917rem;
    }
    .layerpopup-password-wrapper .footer-button-wrapper>button {
        height: 2.917rem;
        font-size: 1rem;
    }
    .layerpopup-password-wrapper .footer-button-wrapper>.btn-cancel {
        border-bottom-left-radius: 0.3333rem;
    }
    .layerpopup-password-wrapper .footer-button-wrapper>.btn-confirm {
        border-bottom-right-radius: 0.3333rem;
    }
    /* 교내뉴스 */
    .thumnbnail-area01>a {
        min-height: auto;
        padding: 1.5rem 0 3rem 0;
    }
    .thumnbnail-area01>a:after {
        content: "";
        clear: both;
        display: block;
    }
    .thumnbnail-box01 {
        float: left;
        width: 75%;
        padding-right: 1.25rem;
        display: block;
        min-height: auto;
    }
    .thumnbnail-box01>h4 {
        display: block;
        padding: 0 0 1.25rem 0;
        font-size: 1.25rem;
        line-height: 1.75rem;
        white-space: normal;
        overflow: auto;
    }
    .thumnbnail-box01>.substance {
        display: none;
    }
    .thumnbnail-box01>.information {
        position: absolute;
        bottom: 1.5rem;
        left: 0;
        display: block;
        width: 100%;
    }
    .thumnbnail-box01>.information>p,
    .thumnbnail-box01>.information>dl {
        margin-right: 0.8333rem;
        font-size: 0.9167rem;
        line-height: 1.5rem;
    }
    .thumnbnail-box01>.information>dl>dt {
        padding-right: 0.4583rem;
        margin-right: 0.4167rem;
    }
    .thumnbnail-box01>.information>dl>dt:before {
        height: 0.8333rem;
        margin-top: -0.4167rem;
    }
    .thumnbnail-area01>a>.image {
        position: static;
        float: right;
        display: block;
        width: 25%;
        height: auto;
    }
    .thumnbnail-area01>a>.image>img {
        position: static;
    }
    /* 언론보도 */
    .thumnbnail-area02 {
        position: relative;
        display: block;
        min-height: auto;
        padding: 1.667rem 0 1.25rem 0;
    }
    .thumnbnail-area02 .image {
        position: static;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: auto;
        margin-top: 0;
    }
    .thumnbnail-area02 .image>img {
        position: static;
    }
    .thumnbnail-area02 .thumnbnail-box02 {
        padding: 1.25rem 0.8333rem;
    }
    .thumnbnail-area02 .thumnbnail-box02>h4 {
        margin-bottom: 0.875rem;
    }
    .thumnbnail-area02 .thumnbnail-box02>h4>a {
        font-size: 1.25rem;
        line-height: 1.667rem;
        white-space: normal;
    }
    .thumnbnail-area02 .thumnbnail-box02 .media-report-list>li {
        margin-bottom: 0.4167rem;
        font-size: 1.125rem;
        line-height: 1.5rem;
    }
    .thumnbnail-area02 .thumnbnail-box02 .media-report-list>li>strong {
        padding-left: 1rem;
        padding-right: 0.6667rem;
        margin-right: 0.6667rem;
        background-size: 0.7083rem 0.75rem
    }
    .thumnbnail-area02 .thumnbnail-box02 .media-report-list>li>strong:after {
        height: 0.8333rem;
        margin-top: -0.4167rem;
    }
    .thumnbnail-area02 .date {
        position: static;
        top: 50%;
        right: 0;
        width: auto;
        margin-top: 0;
        padding: 0 0.8333rem;
        text-align: right;
        font-size: 1rem;
        line-height: 1.5rem;
    }
    /* 카드 뉴스 */
    .card-type-list01 {
        margin-top: 0.625rem;
    }
    .card-type-list01>ul {
        display: block;
    }
    .card-type-list01>ul li {
        width: 48%;
        margin-right: 0;
        margin-bottom: 2.5rem
    }
    .card-type-list01>ul li:nth-child(even) {
        float: right;
    }
    .card-type-list01>ul li>a {
        display: block;
    }
    .card-type-list01>ul li>a>.image {
        margin-bottom: 1rem;
    }
    .card-type-list01>ul li>a>strong {
        font-size: 1.167rem;
        line-height: 1.875rem;
    }
    .card-type-list01>ul li>a>span {
        font-size: 1rem;
        line-height: 1.375rem;
    }
    .card-slider-wrapper {
        max-width: calc(39.17rem / 2);
    }
    .card-pagination-wrapper .swiper-pagination {
        margin-top: 1.25rem;
    }
    .card-pagination-wrapper .swiper-pagination .swiper-pagination-bullet {
        width: 1.5rem;
        height: 1.5rem;
        line-height: 1.5rem;
        font-size: 0.8333rem;
    }
    .card-slider-wrapper .btn-prev,
    .card-slider-wrapper .btn-next {
        width: 1.333rem;
        height: 2.458rem;
        margin-top: -1.208rem;
        background-size: 1.333rem 2.458rem;
    }
    /* pr movie */
    .pr-movie-wrapper {
        background-color: transparent;
    }
    .pr-movie-area {
        width: 100%;
    }
    .pr-movie-script {
        position: static;
        width: 100%;
        height: 12rem;
        padding: 1.25rem;
        margin-top: 0.625rem;
        background-color: #f0f2f7
    }
    .pr-movie-script>pre {
        font-size: 1rem;
        line-height: 1.625rem;
    }
}

@media only all and (max-width: 767px) {
    .board-area .search-wrapper.sort .sort-select-area .sort-select-box.depth1 select {
        position: static;
        top: 0;
        left: 0;
        width: 100%
    }
    .board-area .search-wrapper.sort .sort-select-area .sort-select-box.depth1+.search-area {
        margin-left: 0;
    }
}

@media only all and (max-width: 425px) {
    html {
        font-size: 0.8125rem;
        /* 기본베이스 폰트사이즈 13px */
        line-height: 0.8125rem;
        /* 기본베이스 line-height 사이즈 13px */
    }
    .board-write dl>dd .selected-time-term-wrapper {
        position: relative;
        padding-right: 1.923rem;
    }
    .board-write dl>dd .selected-time-term-wrapper .selected-time-term-area {
        float: none;
        width: 100%;
        margin-bottom: 0.3846rem
    }
    .board-write dl>dd .selected-time-term-wrapper .selected-time-term-area:after {
        content: "";
        clear: both;
        display: block;
    }
    .board-write dl>dd .selected-time-term-wrapper .selected-time-term-area:last-child {
        margin-bottom: 0;
    }
    .board-write dl>dd .selected-time-term-wrapper .word-unit {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        width: 1.923rem;
    }
    .board-write dl>dd .input-counter-wrapper .input-counter-area {
        float: none;
        width: 95%;
        padding-left: 3.077rem;
        padding-right: 1.923rem;
        box-sizing: border-box;
        margin-bottom: 0.3846rem
    }
    .board-write dl>dd .input-counter-wrapper .input-counter-area:last-child {
        float: none;
        margin-bottom: 0;
    }
    .board-write dl>dd .input-counter-wrapper .input-counter-area:after {
        content: "";
        clear: both;
        display: block;
    }
    .board-write dl>dd .input-counter-wrapper .input-counter-area>label {
        width: 3.077rem;
        height: 2.692rem;
        line-height: 2.692rem;
        font-size: 0.9231rem;
        margin-left: -3.077rem;
    }
    .board-write dl>dd .input-counter-wrapper .input-counter-area>input[type="number"] {
        width: 100%;
        height: 2.692rem;
        line-height: 2.692rem;
        font-size: 0.9231rem;
    }
    .board-write dl>dd .input-counter-wrapper .input-counter-area>span {
        width: 2.692rem;
        height: 2.692rem;
        line-height: 2.692rem;
        margin-right: -2.692rem;
        font-size: 0.9231rem;
    }
}