.board-area {
	margin: 0;
	padding: 0 0 20px 0;
}

/* 검색 */
.board-search-area {
	border: 1px solid #d9e3ea;
	background: #fff;
	padding: 12px 25px;
	margin-bottom: 15px;
}

.board-search-area:after {
	content: "";
	clear: both;
	display: block;
}

.board-search-area .total {
	float: left;
	margin-top: 5px;
	color: #3e3e3e;
	font-size: 14px;
	line-height: 15px;
}

.board-search-area .total strong {
	color: #00aadc
}

.board-search-area .board-search-box {
	float: right;
}

.board-search-area .board-search-box select {
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #dfdfdf;
	height: 28px;
	padding-left: 4px;
	background: #fff;
}

.board-search-area .board-search-box input[type="text"] {
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #dfdfdf;
	width: 168px;
	height: 26px;
	padding: 0 10px;
}


.board-search-area .board-search-box input[type="image"] {
	display: inline-block;
	vertical-align: middle;
	margin-left: 6px;
}


.board-search-area .board-search-box input[type="submit"]  {
	position: static;
	display: inline-block;
	vertical-align: middle;
	height: 24px;
	line-height: 24px;
	color: #fff;
	width: 60px;
	border-radius: 0;
	border: 0;
	text-align: left;
	-webkit-appearance: none;
	cursor: pointer;
	text-align: center;
	background: #545861;
	margin-left: -6px;
}

.board-area .search-area .search-box input[type="submit"] {
	position: static;
	display: inline-block;
	vertical-align: middle;
	height: 24px;
	line-height: 24px;
	color: #fff;
	width: 60px;
	border-radius: 0;
	border: 0;
	text-align: left;
	-webkit-appearance: none;
	cursor: pointer;
	text-align: center;
	background: #545861;
	margin-left: -6px;
}


/* 게시판 목록 */
.board-list {
	background: #fff;
	margin-top: 20px;
	margin-bottom: 10px;
}


.board-list table caption {
	display: none; 
	text-align: left; 
	font-weight: bold; 
	font-size: 1em; 
	letter-spacing: 0; 
	padding: 0.8em 0 0.4em 14px; 
	margin: 0; 
} /* caption 태그는 숨김 */

.board-list table {
	border-collapse: collapse; 
	table-layout: fixed;
}
.board-list table tr {  } /* colgroup 으로 td 스타일제어하려면 tr에 정의  */

.board-list table tr:hover {
	background: #f9f9f9;
}

.board-list table th, 
.board-list table td {
	border-width: 0;
}

.board-list table thead th {
	padding: 13px; 
	color: #ffffff; 
	font-size: 14px;
	font-weight: bold;
	text-align: center; 
	background: #304260;
} 


.board-list table thead th.none {
	border-right: 0;
}

.board-list table tbody td {
	padding: 8px;
	border-bottom: 1px solid #ddd; 
	color: #65737d; 
	font-size: 14px; 
	text-align: center;
}

.board-list table tbody td input[type="text"]{
	padding: 0px;
	color: #65737d;
	font-size: 14px;
	text-align: left;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #dfdfdf;
	line-height: 1.7em;
}

.board-list table tbody td a {
	display: inline;
	color: #65737d;
	max-width: 90%;
	overflow: hidden; 
	text-overflow: ellipsis; 
	white-space:nowrap;
}

.board-list table tbody td.left {
	text-align: left;
}

.board-list table tbody td.center {
	text-align: left;
}

.board-list table tbody td.right {
	text-align: left;
}

.board-list table tbody td .icon-notice {
	display: inline-block;
	vertical-align: middle;
	width: 30px;
	height: 20px;
	line-height: 22px;
	text-align: center;
	margin-right: 5px;
	color: #fff;
	font-size: 12px;
	background: #079adf;
}

.btns-area {
	overflow: hidden;
}

.btns-area .btns-right {
	float: right;
}

.btns-area .btns-left {
	float: left;
}



.btns-area .btns-center {
	text-align: center;
}

.btns-view{
	width: 100%;
	margin: 0 auto;
}

.btn-type01 {
	display: inline-block;
	vertical-align: bottom;
	padding: 0 25px;
	min-height: 35px;
	line-height: 35px;
	color: #fff;
	font-size: 15px;
	border: 1px solid #0980b4;
	background: #129fdd;
	border-radius: 3px;
	text-shadow: 1px 1px 0px rgba(63,107,169, 0.5);
}


.btn-type02 {
	display: inline-block;
	vertical-align: bottom;
	padding: 0 25px;
	min-height: 35px;
	line-height: 35px;
	color: #fff;
	font-size: 15px;
	border: 1px solid #4f4f4fde;
	background: #5e5e5ede;
	border-radius: 3px;
}

.btn-type01:hover {
	background: #0980b4;
}

.btn-type02:hover {
	background: #4f4f4fde;
}



/* 페이징 네비게이션 */
.paging-navigation {

	text-align: center; 
	padding-bottom: 0;
	margin-top: 40px;
}
.paging-navigation a {
	display: inline-block; 
	line-height: 35px; 
	min-width: 29px; 
	height: 35px; 
	padding: 0 3px;
	margin: 0 2px;
	color: #4c4c50;
	border: 1px solid #c5c7cc; 
	vertical-align: middle; 
	background: #fff;
	font-family: Verdana, "돋움", Dotum, sans-serif;
}
.paging-navigation a:hover{
	border: 1px solid #636363; 
	color: #fff;
	background: #636363;
	font-family: Verdana, "돋움", Dotum, sans-serif;
	text-decoration: none;
}

.paging-navigation a.selecton{
	border: 1px solid #636363; 
	color: #fff;
	background: #636363;
	font-family: Verdana, "돋움", Dotum, sans-serif;
	text-decoration: none;
}

.paging-navigation strong {
	display: inline-block; 
	line-height: 35px; 
	min-width: 29px; 
	height: 35px; 
	padding: 0 3px; 
	margin: 0 2px;
	border: 1px solid #636363; 
	color: #fff; 
	font-family: Verdana, "돋움", Dotum, sans-serif;
	vertical-align: middle;
	background: #636363;
}
.paging-navigation a.btn-first {
	text-indent: -5000em;

	background: #fff url(../make_img/board/btn_first.gif) no-repeat center center;
}
.paging-navigation a.btn-preview {
	text-indent: -5000em; 

	background: #fff url(../make_img/board/btn_previous.gif) no-repeat center center;
}
.paging-navigation a.btn-next {
	text-indent: -5000em; 

	background: #fff url(../make_img/board/btn_next.gif) no-repeat center center;
}
.paging-navigation a.btn-last {
	text-indent: -5000em; 

	background: #fff url(../make_img/board/btn_last.gif) no-repeat center center;
}



.board-view {
	overflow: hidden;
	border-top: 2px solid #545861;
}

.board-view dl {
	border-bottom: 1px solid #e3e3e3;
	overflow: hidden;

}

.board-view dl.none {
	border-bottom: 0;
}

.board-view dl dt {
	float: left;
	width: 16%;
	min-height: 16px;
	padding-left: 2%;
	padding-top: 18px;
	padding-bottom: 16px;
	color: #636363;
	font-weight: bold;
}

.board-view dl dd {
	width: 80%;
	padding-right: 2%;
	min-height: 16px;
	padding-top: 18px;
	padding-bottom: 16px;
	color: #545454;
	font-size: 14px;
}

.board-view dl dd a.add-file {
	display: block;
	min-width: 100px;
	padding: 5px 0 5px 20px;
	background: url(../make_img/board/icon_file.gif) no-repeat left center;
	text-decoration: underline;
	color: #767676;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overow: ellipsis;

}

.board-view dl.half-box01 {
	float: left;
	width: 60%;
}

.board-view dl.half-box01 dt {
	float: left;
	width: 28%;
	padding-left: 4%;
}

.board-view dl.half-box01 dd {
	float: left;
	width: 66%;

}

.board-view dl.half-box02 {
	float: left;
	width: 40%;
}

.board-view dl.half-box02 dt {
	float: left;
	width: 33%;
	padding-left: 4%;
}

.board-view dl.half-box02 dd {
	float: left;
	width: 61%;
}

.board-contents {
	position: relative;
	border-top: 1px solid #545861;
	margin-top: -1px;
	padding: 27px 0 48px 40px;
	line-height: 24px;
	color: #545454;
	overflow: auto;
}

.board-contents img {
	display: block;
	margin: 20px auto;
	max-width: 100%;
}



/* 게시판 보기 */
.board-view01 {
	background: #fff;
	border-top: 1px solid #565c6c;
	margin-bottom: 50px;
}

.board-view01 .board-title-area {
	padding-top: 20px;
	border-bottom: 1px solid #565c6c;
}

.board-view01 .board-title-area h2 {
	display: block;
	font-size: 21px;
	line-height: 36px;
	font-weight: 400;
	padding: 0 10px;
	margin-bottom: 15px;
	color: #555559;
	font-weight: bold;
	word-break: break-all;
}

.board-view01 .board-title-area .board-title-box {
	overflow: hidden;
	font-size: 15px;
	color: #a5a5a5;
	padding: 0 10px 30px 10px;
	border-bottom: 1px solid #eaeaea;
}

.board-view01 .board-title-area .board-title-box .user-view-information {
	float: left;
}

.board-view01 .board-title-area .board-title-box .user-view-information .user {
	float: left;
	padding-right: 13px;
	margin-right: 13px;
	background: url(../make_img/board/icon_bar01.gif) no-repeat right center;
}


.board-view01 .board-title-area .board-title-box .user-view-information .date {
	float: left;
}

.board-view01 .board-title-area .board-title-box .hit {
	float: right;
}

.board-view01 .board-title-area .add-fime {
	position: relative;
	padding: 19px 10px 19px 80px;
	font-size: 15px;
}

.board-view01 .board-title-area .add-fime dt {
	position: absolute;
	top: 19px;
	left: 10px;
	font-weight: bold;
}

.board-view01 .board-title-area .add-fime dd {
	display: block;
}

.board-view01 .board-title-area .add-fime dd .word-addfile {
	display: block;
}

.board-view01 .board-title-area .add-fime dd .word-addfile a {
	color: #666669;
}

.board-view01 .board-title-area .add-fime dd .word-addfile a:hover {
	text-decoration: underline;
}

.board-view01 .board-view-contents {
	padding: 40px 10px 100px 10px;
	font-size: 15px;
	line-height: 28px;
	color: #777779;
	border-bottom: 1px solid #eaeaea
}

.board-view01 .board-view-contents img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	margin-bottom: 40px;
}

.board-view-previous-next {
	margin: 0;
	padding: 0;
}

.board-view-previous-next li {
	border-bottom: 1px solid #eaeaea
}

.board-view-previous-next li a {
	display: block;
	height: 54px;
	line-height: 54px;
	overflow: hidden;
	color: #777779;
	font-size: 15px;
}

.board-view-previous-next li a:hover {
	background: #f9f9f9;
}

.board-view-previous-next li a .previous,
.board-view-previous-next li a .next {
	float: left;
	width: 126px;
	padding-left: 9px;
	color: #111119
}

.board-view-previous-next li a .title {
	float: left;
	width: 760px;
	padding-right: 10px;

	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.btns-area {
	overflow: hidden;
	text-align: center;
}

.btns-area .btns-left {
	float: left
}

.btns-area .btns-left .fl {
	float: left;
	margin: 0;
	margin-right: -1px;
}

.btns-type01 {
	display: inline-block;
	vertical-align: middle;
	*display: inline;
	*zoom: 1;
	min-width: 40px;
	height: 38px;
	line-height: 38px;
	padding: 0 20px;
	color: #000000;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	border: 1px solid #d3d4da;
	margin: 0 2px;
}

input[type="submit"].btns-type01 {
	display: inline-block;
	vertical-align: middle;
	*display: inline;
	*zoom: 1;
	min-width: 80px;
	height: 38px;
	line-height: 38px;
	padding: 0 20px;
	color: #000000;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	border: 1px solid #d3d4da;
	margin: 0 2px;
}


.btns-type01:hover,
input[type="submit"].btns-type01:hover {
	background: #d3d4da
}



.btns-type0102 {
	display: inline-block;
	vertical-align: middle;
	*display: inline;
	*zoom: 1;
	min-width: 40px;
	height: 46px;
	line-height: 46px;
	padding: 0 20px;
	color: #fff;
	font-size: 17px;
	font-weight: 400;
	text-align: center;
	background: #1a7edf;
	border: 0;
	margin: 0 2px;
}

input[type="submit"].btns-type0102 {
	display: inline-block;
	vertical-align: middle;
	*display: inline;
	*zoom: 1;
	min-width: 80px;
	height: 46px;
	line-height: 46px;
	padding: 0 20px;
	color: #fff;
	font-size: 17px;
	font-weight: 400;
	text-align: center;
	background: #1a7edf;
	border: 0;
	cursor: pointer;
	margin: 0 2px;
}


.btns-type0102:hover,
input[type="submit"].btns-type0102:hover {
	background: #186cbd
}


.btns-type02 {
	display: inline-block;
	vertical-align: middle;
	*display: inline;
	*zoom: 1;
	min-width: 40px;
	height: 38px;
	line-height: 38px;
	padding: 0 20px;
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	background: #5a5f6d;
	border: 1px solid #434856;
	margin: 0 2px;
}

input[type="submit"].btns-type02 {
	display: inline-block;
	vertical-align: middle;
	*display: inline;
	*zoom: 1;
	min-width: 80px;
	height: 38px;
	line-height: 38px;
	padding: 0 20px;
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	background: #5a5f6d;
	border: 1px solid #434856;
	margin: 0 2px;
	cursor: pointer;
}


.btns-type02:hover,
input[type="submit"].btns-type02:hover {
	background: #434856
}







.btns-type03 {
	display: inline-block;
	vertical-align: middle;
	*display: inline;
	*zoom: 1;
	min-width: 110px;
	height: 46px;
	line-height: 46px;
	padding: 0 20px;
	color: #fff;
	font-size: 17px;
	font-weight: 400;
	text-align: center;
	background: #1a7edf;
	border: 0;
	margin: 0 2px;
}

input[type="submit"].btns-type03 {
	display: inline-block;
	vertical-align: middle;
	*display: inline;
	*zoom: 1;
	min-width: 150px;
	height: 46px;
	line-height: 46px;
	padding: 0 20px;
	color: #fff;
	font-size: 17px;
	font-weight: 400;
	text-align: center;
	background: #1a7edf;
	border: 0;
	cursor: pointer;
	margin: 0 2px;
}


.btns-type03:hover,
input[type="submit"].btns-type03:hover {
	background: #1462ad
}


.btns-type04 {
	display: inline-block;
	vertical-align: middle;
	*display: inline;
	*zoom: 1;
	height: 40px;
	line-height: 40px;
	padding: 0 12px;
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	background: #757b8a;
	border: 0;
	margin: 0 2px;
}

input[type="submit"].btns-type04 {
	display: inline-block;
	vertical-align: middle;
	*display: inline;
	*zoom: 1;
	min-width: 150px;
	height: 46px;
	line-height: 46px;
	padding: 0 20px;
	color: #fff;
	font-size: 17px;
	font-weight: 400;
	text-align: center;
	background: #757b8a;
	border: 0;
	margin: 0 2px;
	cursor: pointer;
}


.btns-type04:hover,
input[type="submit"].btns-type03:hover {
	background: #52555f
}




.board-write {
	border-collapse: collapse;
	border-top: 2px solid #545861;
	border-bottom: 1px solid #333333
}

.board-write dl {
	position: relative;
	padding-left: 150px;
	border-bottom: 1px solid #e3e3e3;
}

.board-write dl dt {
	position: absolute;
	top: 50%;
	left: 0;
	width: 91px;
	margin-top: -8px;
	padding-left: 20px;
	color: #636363;
	font-weight: bold;
}

.board-write dl dd {
	padding: 11px 11px 11px 0;
}

.board-write dl dd select {
	display: inline-block;
	vertical-align: middle;
	height: 26px;
	padding-left: 5px;
	border: 1px solid #dedede;
	background: #f4f4f4;
	border-radius: 0;
	/*
	-webkit-appearance: none;
	*/
}
.board-write dl dd input[type="checkbox"] {
	display: inline-block;
	vertical-align: middle;
	border-radius: 0;
	/*
	-webkit-appearance: none;
	*/
}

.board-write dl dd .secret-area {
	display: inline-block;
	vertical-align: middle;
	margin-left: 20px;
}

.board-write dl dd input[type="text"],
.board-write dl dd input[type="password"],
.board-write dl dd input[type="email"]
{
	display: inline-block;
	vertical-align: middle;
	height: 24px;
	padding: 0 5px;
	width:  95%;
	border: 1px solid #dedede;
	background: #f4f4f4;
	border-radius: 0;
	-webkit-appearance: none;

	font-family: "NanumBarunGothic", "나눔바른고딕", NanumBarunGothic, "돋움", Dotum, sans-serif;
}

.board-write dl dd input[type="text"]:focus,
.board-write dl dd input[type="password"]:focus,
.board-write dl dd input[type="email"]:focus {
	background: #fff;
}

.board-write dl dd input[type="text"].w30,
.board-write dl dd input[type="password"].w30,
.board-write dl dd input[type="email"].w30 {
	width: 30%;
}

.board-write dl dd input[type="text"].w50,
.board-write dl dd input[type="password"].w50,
.board-write dl dd input[type="email"].w50 {
	width: 50%;
}

.board-write dl dd input[type="text"].w70,
.board-write dl dd input[type="password"].w70,
.board-write dl dd input[type="email"].w70 {
	width: 70%;
}

.editer-area {
	padding-top: 10px;
	height: 330px;
	border-top: 1px solid #545861;
}

.board-write dl.writer-add-file {
	position: relative;
	background: #f6f6f6;
	padding-left: 150px;
	border: 0px solid red;
}

.board-write dl.writer-add-file dt {
	position: absolute;
	top: 0;
	left: 0;
	width: 110px;
	padding-top: 25px;
	padding-left: 40px;
	color: #666666;
}

.board-write dl.writer-add-file dt label {
	display: inline-block;
	vertical-align: middle;
}

.board-write dl.writer-add-file dt a {
	display: inline-block;
	vertical-align: middle;
}

.board-write dl.writer-add-file dt a img {
	display: inline-block;
	vertical-align: middle;
	width: 15px;
}

.board-write dl.writer-add-file dd {
	background: #fff;
	padding: 11px 15px;
}


.board-write dl.writer-add-file dd.file-info-area {
	border-bottom: 1px solid #dedede
}

.board-write dl.writer-add-file dd.file-info-area .file-info {
	padding: 4px 0;
	font-size: 13px;
	width: 100%;
	overflow: hidden;
}

.board-write dl.writer-add-file dd.file-info-area .file-info label {
	display: inline-block;
	vertical-align: middle;

	max-width: 50%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overow: ellipsis;
	border: 0px solid red;
	margin-right: 10px;
}

.board-write dl.writer-add-file dd.file-info-area .file-info input[type="checkbox"] {
	display: inline-block;
	vertical-align: middle;

	margin-right: 10px;
}

.board-write dl.writer-add-file dd.file-info-area .file-info .btn-file-delete {
	display: inline-block;
	vertical-align: middle;
	padding: 3px 10px;
	height: 14px;
	line-height: 14px;
	background: #0074e5;
	color: #fff;
}


.board-write dl.writer-add-file dd p.file-notice {
	clear: both;
	overflow: hidden;
	margin-bottom: 5px;
	border: 0px solid red;
}

.board-write dl.writer-add-file dd .file-box {
	padding: 2px 0 3px 0;
}

.board-write dl.writer-add-file dd .file-box:after {
	content: "";
	clear: both;
	display: block;
}

.board-write dl.writer-add-file dd .file-box input[type="file"] {
	display: inline-block;
	vertical-align: middle;
	border-radius: 0;
	-webkit-appearance: none;
}

.board-write dl.writer-add-file dd .file-box .alt-area {
	display: inline-block;
	vertical-align: middle;
	margin-left: 20px;
}




.board-write01 {
	border-collapse: collapse;
	border-bottom: 1px solid #a4a4a4;
	margin-bottom: 45px;
}

.board-write01 dl {
	position: relative;
	padding-left: 155px;
	padding-bottom: 8px;
}

.board-write01 dl dt {
	position: absolute;
	top: 5px;
	left: 0;
	width: 135px;
	padding-left: 20px;
	color: #333339;
	font-weight: bold;
	font-size: 16px;
}

.board-write01 dl dd {
	min-height: 34px;
	font-size: 15px;
}

.board-write01 dl dd:after {
	content: "";
	clear: both;
	display: block;
}

.board-write01 dl dd select {
	display: inline-block;
	vertical-align: middle;
	height: 34px;
	padding-left: 5px;
	border: 1px solid #dedede;
	border-radius: 0;
}
.board-write01 dl dd input[type="checkbox"] {
	float: left;
	margin-top: 5px;
	border-radius: 0;
	/*
	-webkit-appearance: none;
	*/
}
.board-write01 dl dd strong {
	float: left;
	margin-left: 5px;
	width: 87.5%;
}


.board-write01 dl dd .secret-area {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	padding: 0;
	margin-top: 10px;
}

.board-write01 dl dd .secret-area input[type="checkbox"] {
	float: left;
	margin-top: 5px;
	border-radius: 0;
	/*
	-webkit-appearance: none;
	*/
}
.board-write01 dl dd .secret-area strong {
	float: left;
	margin-left: 5px;
	width: auto;
}

.board-write01 dl dd input[type="text"],
.board-write01 dl dd input[type="password"],
.board-write01 dl dd input[type="email"] {
	display: inline-block;
	vertical-align: middle;
	height: 32px;
	line-height: 32px;
	padding: 0 15px;
	border: 1px solid #dedede;
	-webkit-appearance: none;
}

.board-write01 dl dd input[type="text"]:focus,
.board-write01 dl dd input[type="password"]:focus,
.board-write01 dl dd input[type="email"]:focus {
	background: #fff;
}

.board-write01 dl dd textarea {
	display: inline-block;
	vertical-align: middle;
	padding: 15px;
	width: 700px;
	height: 250px;
	border: 1px solid #dedede;
	-webkit-appearance: none;
	overflow-x: hidden;
	overflow-y: auto;
}


.board-write01 dl.writer-add-file {
	position: relative;
	padding-left: 155px;
	border: 0px solid red;
}

.board-write01 dl.writer-add-file dt {
	position: absolute;
	top: 0;
	left: 0;
	width: 135px;
	padding-top: 15px;
	padding-left: 20px;
	color: #666666;
}

.board-write01 dl.writer-add-file dt label {
	display: inline-block;
	vertical-align: middle;
}

.board-write01 dl.writer-add-file dt a {
	display: inline-block;
	vertical-align: middle;
}

.board-write01 dl.writer-add-file dt a img {
	display: inline-block;
	vertical-align: middle;
	width: 20px;
}

.board-write01 dl.writer-add-file dd {
	background: #fff;
	padding: 11px 0;
}

.board-write01 dl.writer-add-file dd .file-info {
	padding-bottom: 10px;
}

.board-write01 dl.writer-add-file dd .file-info input[type="checkbox"] {
	display:  inline-block;
	vertical-align: middle;
	float: none;
}

.board-write01 dl.writer-add-file dd .file-info label {
	display:  inline-block;
	vertical-align: middle;
}

.board-write01 dl.writer-add-file dd .file-info .btn-file-delete {
	display:  inline-block;
	vertical-align: middle;
	padding: 0 10px;
	height: 22px;
	line-height: 22px;
	background: #a1a5b0;
	color: #fff;
	font-size: 13px;
	margin-left: 10px;
}




.board-write01 dl.writer-add-file dd .file-box {
	padding-bottom: 10px;
}

.board-write01 dl.writer-add-file dd .file-box:after {
	content: "";
	clear: both;
	display: block;
}

.board-write01 dl.writer-add-file dd .file-box input[type="file"] {
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	border-radius: 0;
	-webkit-appearance: none;

}



/* 비밀글 비밀번호 입력 폼 */
.check-password-area {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10000;
	background-size: 1px 1px;
}

.check-password-box {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 448px;
	min-height: 212px;
	margin-left: -225px;
	margin-top: -107px;
	padding-top: 63px;
	background: #f8f8f8;
	border: 1px solid #d2d5d6;
	text-align: center;
}

.check-password-box h2 {
	color: #3c3c3c;
	font-size: 24px;
	line-height: 26px;
	margin-bottom: 20px;
	text-align: center;
	font-family: "NanumBarunGothicBold", "나눔바른고딕 Bold", NanumBarunGothicBold, "돋움", Dotum, sans-serif;
}

.check-password-box p {
	display: block;
	margin-bottom: 30px;
}

.check-password-box p .span-br {
	display: block;
}

.check-password-box dl {

}

.check-password-box dl dt,
.check-password-box dl dt label,
.check-password-box dl dd {
	display: inline-block;
	vertical-align: middle;
}

.check-password-box dl dt {
	margin-right: 10px;
	color: #000000;
}

.check-password-box dl dd input[type="text"] {
	display: inline-block;
	vertical-align: middle;

	width: 144px;
	padding: 0 5px;
	height: 22px;
	border: 1px solid #dfdfdf;
	background: #fff;
}

.check-password-box dl dd input[type="text"]:focus {
	background: #f5f5f5;
}

.check-password-box dl dd input[type="submit"] {
	display: inline-block;
	vertical-align: middle;

	width: 64px;
	height: 24px;
	border: none;
	color: #fff;
	background: #079bdb;
	text-align: center;
}

.check-password-box .btn-close {
	position: absolute;
	top: 17px;
	right: 19px;
}

.check-password-box .btn-close img {
	display: block;
	width: 23px;
	height: 23px;
}

.check-password-box .btn-ok {
	display: inline-block;
	vertical-align: middle;

	width: 64px;
	height: 24px;
	line-height: 24px;
	border: none;
	color: #fff;
	background: #079bdb;
	text-align: center;
}
