@charset "utf-8";

/* reset */
@import url(reset.css);

@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
	height: 100%;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #c8d3dc;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #c8d3dc;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #c8d3dc;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #c8d3dc;
}


body {
	height: 100%;
	/*text-align: center;*/
	font-size: 75%;
	font-family: "Apple Gothic", "맑은 고딕", '돋움', Apple Gothic, Malgun Gothic, dotum, sans-serif;
	color: #000;
	list-style: none;
	line-height: 1.7em;
	letter-spacing: -0.05em;
	border: 0px solid blue;
	outline: 0;
}

/* 스킵네비게이션 */
.skip-navigation a {
	display: block;
	height: 1px;
	width: 1px;
	margin: 0 -1px -1px 0;
	padding: 0;
	overflow: hidden;
	font-size:0; line-height:0;
}

.skip-navigation a:hover,
.skip-navigation a:active,
.skip-navigation a:focus {
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	height: 20px;
	line-height: 20px;
	vertical-align: middle;
	font-size: 75%;
	font-weight: bold;
	text-align: center;
	background: #000;
	color: #fff;
	z-index: 10;
	border: 1px solid red;
}

.blind, caption {
	position: absolute;
	top: -5000em;
	left: -5000em;
	line-height: 0;
	font-size:0;
	text-shadow: none;
	color:transparent;
	z-index: -1;
}

/* login */
.login-wrapper {
	position: relative;
	height: 100%;
	background: #4b5865;
}

.login-wrapper .login-area {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 278px;
	height: 332px;
	margin-top: -206px;
	margin-left: -160px;
	background: #fff;
	border-radius: 10px;
	padding: 40px 21px;
}

.login-wrapper .login-area h1 {
	padding-bottom: 31px;
	margin-bottom: 37px;
	background: url(../make_img/login/icon_dot01.gif) repeat-x left bottom;
}

.login-wrapper .login-area h1 img {
	display: inline-block;
	vertical-align: bottom;
}

.login-wrapper .login-area .login-box {
	width: 207px;
	padding-bottom: 35px;
	margin: 0 auto;
}

.login-wrapper .login-area .login-box input[type="text"],
.login-wrapper .login-area .login-box input[type="password"] {
	width: 175px;
	height: 43px;
	background: #eef2f4;
	padding: 0 16px;
	border: 0;
	border-radius: 3px;
	margin-bottom: 12px;
	font-family: 'Roboto', sans-serif;
}

.login-wrapper .login-area .login-box .save-id {
	text-align: left;
	padding-top: 8px;
}


.login-wrapper .login-area .login-box .save-id input[type="checkbox"] {
	display: none;
}

.login-wrapper .login-area .login-box .save-id input[type="checkbox"] + label.image-checkbox {
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 19px;
	text-indent: -5000em;
	margin-right: 5px;
	background: url(../make_img/login/icon_checkbox_off.png) no-repeat 0 0;
}

.login-wrapper .login-area .login-box .save-id input[type="checkbox"]:checked + label.image-checkbox {
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 19px;
	text-indent: -5000em;
	background: url(../make_img/login/icon_checkbox_on.png) no-repeat 0 0;
}

.login-wrapper .login-area .login-box .save-id label {
	display: inline-block;
	vertical-align: middle;
	color: #597a96;
	font-size: 13px;
	font-weight: bold;
	cursor: pointer;
}

.login-wrapper .login-area input[type="image"] {
	display: inline-block;
	vertical-align: bottom;
}



/* wrapper */
.wrapper {
	position: relative;
	min-width: 696px;
	height: calc(100% - 46px);
	padding-top: 46px;
	padding-left: 304px;
	font-size: 1em;
	text-align: left;
}

.wrapper:after {
	content: "";
	clear: both;
	display: block;
}

.header-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 46px;
	/*background: #4a4f53;*/
	background-color:#4a4d4e;
	border-bottom: 1px solid #D9DEE4;
}

.header-wrapper .header-area {
	height: 46px;
	line-height: 46px;
	/*min-width: 1000px;*/
	float:right;
	/*max-width: 1200px;*/
	/*text-align: right;*/
}

.header-wrapper .header-area .selsite-area{
	float:left;
	margin:2px 20px;
}

.header-wrapper .header-area .selsite-area .select {display: inline-block; vertical-align: top; min-width:250px; height:25px; padding:2px; margin-top: 9px}
.header-wrapper .header-area .selsite-area button {display: inline-block; vertical-align: top; border:0px; background:#0980b4; color:#fff; padding: 0 4px; border:1px solid #069ddf;
	height: 25px; margin-top: 9px}

.header-wrapper .header-area .logout {
	/* display: inline-block; */
	vertical-align: middle;
	font-size: 12px;
	color: #fff;
	float: right;
	/* padding-right: 30px; */
	padding: 0px 16px;
	background-color: #00aadc;
	height: 30px;
	line-height: 30px;
	margin-top: 8px;
	margin-right: 10px;
	border-radius : 6px;
}

.header-wrapper .header-area .user-name{
	float:right;
	color:#fff;
	padding-right:15px;
}

.header-wrapper .header-area .logout:hover {
	text-decoration: underline;
}

.header-wrapper .header-area .logout img {
	display: inline-block;
	vertical-align: middle;
}


.lnb {
	position: fixed;
	top: 46px;
	left: 0;
	width: 272px;
	height: 100%;
	border-right: 1px solid #d9e3ea;
	background: #4d5158;
}

.lnb h1 {
	height:50px;
	padding-top: 24px;
	text-align: center;
	color : #fff;
	background-color: #00aadc;
	font-weight : 600;
	font-size : 30px;
}

.contents {
	min-width: 696px;
/*	max-width: 896px;*/
	max-width : 85%;
	padding-top: 34px;
	padding-bottom: 34px;
}

.title0201 {
	font-size: 21px;
	line-height: 23px;
	padding-left: 25px;
	margin-bottom: 27px;
	background: url(../make_img/common/icon_bullet01.png) no-repeat left 6px;
}


.title0301 {
	font-size: 18px;
	line-height: 23px;
	padding-left: 15px;
	margin-bottom: 15px;
	background: url(../make_img/common/icon_bullet02.png) no-repeat left 6px
}




.menu-option-wrapper {
	position: relative;
	margin: 0;
	padding-left: 330px;
	border: 0px solid red;
}

.menu-option-wrapper:after {
	content: "";
	clear: both;
	display: block;
}

.menu-option-wrapper .menu-option-left-area {
	float: left;
	width: 320px;
	margin-left: -330px;
}

.menu-option-wrapper .menu-title-area {
	padding-bottom: 5px;
}

.menu-option-wrapper .menu-title-area:after {
	content: "";
	clear: both;
	display: block;
}

.menu-option-wrapper .menu-title-area h3 {
	float: left;
}

.menu-option-wrapper .menu-title-area .total-menu-category-check {
	float: right;
}

.menu-option-wrapper .menu-title-area .total-menu-category-check input[type="checkbox"],
.menu-option-wrapper .menu-title-area .total-menu-category-check label {
	display: inline-block;
	vertical-align: middle;
}

.menu-option-wrapper .menu-title-area .word-right {
	float: right;
}

.menu-option-wrapper .menu-option-left-area .menu-option-leftbox {
	border: 1px solid #a4a7ac;
	border-top: none;
	border-bottom: none;
	background: #fff;
	height: 500px;
}

.menu-option-wrapper .menu-option-left-area .menu-option-leftbox .btns-menu-box {
	height: 20px;
	padding: 15px;
	background: #e3e3e3;
	border-top: 1px solid #a4a7ac;
	border-bottom: 1px solid #a4a7ac;
	overflow: hidden;
}

.menu-option-wrapper .menu-option-left-area .menu-option-leftbox .btns-menu-box .btns-left {
	float: left;
}


.menu-option-wrapper .menu-option-left-area .menu-option-leftbox .btns-menu-box .btns-right {
	float: right;
}

.menu-option-wrapper .menu-option-left-area .menu-option-leftbox .menu-option-list-area {
	height: 366px;
	padding: 15px;
	background: #fff;
}

.menu-option-wrapper .menu-option-right-area {
	float: left;
	width: 100%;
	min-width: 366px;
	max-width: 566px;
}

.btn-type02 {
	display: inline-block;
	vertical-align: bottom;
	padding: 0 5px;
	height: 20px;
	line-height: 16px;
	color: #333;
	font-size: 13px;
	border: 1px solid #5d5d5d;
	background: #f0f0f0;
	border-radius: 3px;
}

.btn-type02:hover {
	background: #5d5d5d;
	color: #fff;
}

.btn-type03 {
	display: inline-block;
	vertical-align: bottom;
	padding: 0 5px;
	height: 20px;
	line-height: 16px;
	color: #fff;
	font-size: 13px;
	border: 1px solid #5d5d5d;
	background: #5d5d5d;
	border-radius: 3px;
}

.btn-type04 {
	display: inline-block;
	vertical-align: bottom;
	padding: 0 5px;
	height: 20px;
	line-height: 16px;
	color: #fff;
	font-size: 13px;
	border: 1px solid #0980b4;
	background: #129fdd;
	border-radius: 3px;
}


.btn-type04:hover {
	border: 1px solid #0980b4;
	background: #0980b4;
	border-radius: 3px;
}

.menu-option-right-area {
	margin: 0;
	padding: 0;
}

.point-important {
	font-weight: bold;
	color: red;
}

.t1 {
	border-top: 1px solid #a1a1a3;
}
.t1 table {
	border-collapse: collapse;
	table-layout: fixed;
}
.t1 table tr {  } /* colgroup 으로 td 스타일제어하려면 tr에 정의  */
.t1 table th,
.t1 table td {
	padding: 15px 15px;
	border-width: 0;
	font-size: 16px;
}
.t1 table thead,
.t1 table tfoot {}
.t1 table thead th {
	color: #333339;
	font-weight: 300;
	text-align: center;
	vertical-align: middle;
	background: #fbfbfb;
	border-right: 1px solid #e4e5e7;
	border-bottom: 1px solid #e4e5e7
}

.t1 table thead th.bg-th {
	background: #f0f0f5;
}

.t1 table thead th.none,
.t1 table tbody th.none{
	border-right: none;
}

.t1 table tbody th {
	border: none;
	text-align:left;
	font-size: 14px;
	color: #333339;
	background: #e3e3e3;
	border-right: 1px solid #a4a7ac;
	border-bottom: 1px solid #a4a7ac;
}



.t1 table td {
	border-bottom: 1px solid #e4e5e7;
	color: #555559;
	text-align: left;
	font-size: 14px;
	background: #fff;
}

.t1 table td a {
	text-decoration: underline;
}

.t1 table td input[type="text"],
.t1 table td input[type="password"] {
	display: block;
	height: 26px;
	/*width: 95%;*/
	padding: 0 1.5%;
	border: 1px solid #a4a7ac
}

.btns-center {
	text-align: center;
}



























/* 공통 */
.mt0 {margin-top: 0}
.mt05 {margin-top: 5px}
.mt10 {margin-top: 10px}
.mt15 {margin-top: 15px}
.mt20 {margin-top: 20px}
.mt25 {margin-top: 25px}
.mt30 {margin-top: 30px}
.mt35 {margin-top: 35px}
.mt40 {margin-top: 40px}
.mt45 {margin-top: 45px}
.mt50 {margin-top: 50px}
.mt55 {margin-top: 55px}
.mt60 {margin-top: 60px}
.mt65 {margin-top: 65px}
.mt70 {margin-top: 70px}
.mt75 {margin-top: 75px}
.mt80 {margin-top: 80px}
.mt85 {margin-top: 85px}
.mt90 {margin-top: 90px}
.mt95 {margin-top: 95px}
.mt100 {margin-top: 100px}

.mb0 {margin-bottom: 0}
.mb05 {margin-bottom: 5px}
.mb10 {margin-bottom: 10px}
.mb15 {margin-bottom: 15px}
.mb20 {margin-bottom: 20px}
.mb25 {margin-bottom: 25px}
.mb30 {margin-bottom: 30px}
.mb35 {margin-bottom: 35px}
.mb40 {margin-bottom: 40px}
.mb45 {margin-bottom: 45px}
.mb50 {margin-bottom: 50px}
.mb55 {margin-bottom: 55px}
.mb60 {margin-bottom: 60px}
.mb65 {margin-bottom: 65px}
.mb70 {margin-bottom: 70px}
.mb75 {margin-bottom: 75px}
.mb80 {margin-bottom: 80px}
.mb85 {margin-bottom: 85px}
.mb90 {margin-bottom: 90px}
.mb95 {margin-bottom: 95px}
.mb100 {margin-bottom: 100px}

.ml0 {margin-left: 0}
.ml05 {margin-left: 5px}
.ml10 {margin-left: 10px}
.ml15 {margin-left: 15px}
.ml20 {margin-left: 20px}
.ml25 {margin-left: 25px}
.ml30 {margin-left: 30px}
.ml35 {margin-left: 35px}
.ml40 {margin-left: 40px}
.ml45 {margin-left: 45px}
.ml50 {margin-left: 50px}
.ml55 {margin-left: 55px}
.ml60 {margin-left: 60px}
.ml65 {margin-left: 65px}
.ml70 {margin-left: 70px}
.ml75 {margin-left: 75px}
.ml80 {margin-left: 80px}
.ml85 {margin-left: 85px}
.ml90 {margin-left: 90px}
.ml95 {margin-left: 95px}
.ml100 {margin-left: 100px}

.mr0 {margin-right: 0}
.mr05 {margin-right: 5px}
.mr10 {margin-right: 10px}
.mr15 {margin-right: 15px}
.mr20 {margin-right: 20px}
.mr25 {margin-right: 25px}
.mr30 {margin-right: 30px}
.mr35 {margin-right: 35px}
.mr40 {margin-right: 40px}
.mr45 {margin-right: 45px}
.mr50 {margin-right: 50px}
.mr55 {margin-right: 55px}
.mr60 {margin-right: 60px}
.mr65 {margin-right: 65px}
.mr70 {margin-right: 70px}
.mr75 {margin-right: 75px}
.mr80 {margin-right: 80px}
.mr85 {margin-right: 85px}
.mr90 {margin-right: 90px}
.mr95 {margin-right: 95px}
.mr100 {margin-right: 100px}


.pt0 {padding-top: 0}
.pt05 {padding-top: 5px}
.pt10 {padding-top: 10px}
.pt15 {padding-top: 15px}
.pt20 {padding-top: 20px}
.pt25 {padding-top: 25px}
.pt30 {padding-top: 30px}
.pt35 {padding-top: 35px}
.pt40 {padding-top: 40px}
.pt45 {padding-top: 45px}
.pt50 {padding-top: 50px}
.pt55 {padding-top: 55px}
.pt60 {padding-top: 60px}
.pt65 {padding-top: 65px}
.pt70 {padding-top: 70px}
.pt75 {padding-top: 75px}
.pt80 {padding-top: 80px}
.pt85 {padding-top: 85px}
.pt90 {padding-top: 90px}
.pt95 {padding-top: 95px}
.pt100 {padding-top: 100px}

.pb0 {padding-bottom: 0}
.pb05 {padding-bottom: 5px}
.pb10 {padding-bottom: 10px}
.pb15 {padding-bottom: 15px}
.pb20 {padding-bottom: 20px}
.pb25 {padding-bottom: 25px}
.pb30 {padding-bottom: 30px}
.pb35 {padding-bottom: 35px}
.pb40 {padding-bottom: 40px}
.pb45 {padding-bottom: 45px}
.pb50 {padding-bottom: 50px}
.pb55 {padding-bottom: 55px}
.pb60 {padding-bottom: 60px}
.pb65 {padding-bottom: 65px}
.pb70 {padding-bottom: 70px}
.pb75 {padding-bottom: 75px}
.pb80 {padding-bottom: 80px}
.pb85 {padding-bottom: 85px}
.pb90 {padding-bottom: 90px}
.pb95 {padding-bottom: 95px}
.pb100 {padding-bottom: 100px}

.pl0 {padding-left: 0}
.pl05 {padding-left: 5px}
.pl10 {padding-left: 10px}
.pl15 {padding-left: 15px}
.pl20 {padding-left: 20px}
.pl25 {padding-left: 25px}
.pl30 {padding-left: 30px}
.pl35 {padding-left: 35px}
.pl40 {padding-left: 40px}
.pl45 {padding-left: 45px}
.pl50 {padding-left: 50px}
.pl55 {padding-left: 55px}
.pl60 {padding-left: 60px}
.pl65 {padding-left: 65px}
.pl70 {padding-left: 70px}
.pl75 {padding-left: 75px}
.pl80 {padding-left: 80px}
.pl85 {padding-left: 85px}
.pl90 {padding-left: 90px}
.pl95 {padding-left: 95px}
.pl100 {padding-left: 100px}

.pr0 {padding-right: 0}
.pr05 {padding-right: 5px}
.pr10 {padding-right: 10px}
.pr15 {padding-right: 15px}
.pr20 {padding-right: 20px}
.pr25 {padding-right: 25px}
.pr30 {padding-right: 30px}
.pr35 {padding-right: 35px}
.pr40 {padding-right: 40px}
.pr45 {padding-right: 45px}
.pr50 {padding-right: 50px}
.pr55 {padding-right: 55px}
.pr60 {padding-right: 60px}
.pr65 {padding-right: 65px}
.pr70 {padding-right: 70px}
.pr75 {padding-right: 75px}
.pr80 {padding-right: 80px}
.pr85 {padding-right: 85px}
.pr90 {padding-right: 90px}
.pr95 {padding-right: 95px}
.pr100 {padding-right: 100px}

.count-depth-area {
	height: 30px;
	line-height: 30px;
	text-align: center;
}
.count-depth-area img {
	display: inline-block;
	vertical-align: middle;
	margin: 0 5px;
}


/* 2020.08.27 추가작업 */
.title-area {
	display: block;
}

.title-area:after {
	content: "";
	clear: both;
	display: block;
}

.title-area .schedule_head {
	position: relative;
	float: left;
	padding: 0 36px 0 50px;
}


.title-area .schedule_head > h3 {
	float: left;
	display: block;
	font-size: 24px;
	line-height: 40px;
	color: #333;
	font-weight: normal;
	margin-right: 15px;
}

.title-area .schedule_head > h3 > b {
	font-weight: bold;
	color: #00a0e3;
}

.title-area .schedule_head > button {
	position: absolute;
	top: 50%;

	width: 16px;
	height: 26px;
	margin-top: -13px;
	border: 0;
	border-radius: 0;
	-webkit-appearance: none; /* 네이티브 외형 감추기 */
	-moz-appearance: none;
	appearance: none;
	background-repeat: no-repeat;
	background-size: 8px 13px;
	background-position: center center;
	text-indent: -5000rem;
	background-color: transparent
}

.title-area .schedule_head > button.prev {
	left: 0;
	background-image: url(../make_img/common/btn_previous01.png);
}

.title-area .schedule_head > button.next {
	right: 0;
	background-image: url(../make_img/common/btn_next01.png);
}

.title-area .fr {
	float: right;
}

.pdf-box-area {
	position: relative;
	border: 12px solid #efefef;
	overflow: hidden;
}

.pdf-box-area object {
	width: 100%;
	height: 1000px;
}