
/* 학사일정 */
.schdule-area {
    border: 0px solid red;
}

.schdule-area .schdule-yymm-area {
    position: relative;
    text-align: right;
    margin-bottom: 25px;
}

.schdule-area .schdule-yymm-area select {
    display: inline-block;
    vertical-align: middle;
    width: 138px;
    height: 40px;
    border: 1px solid #d2d2d2;
}

.schdule-area .schdule-yymm-area input[type="submit"] {
    display: inline-block;
    vertical-align: middle;
    width: 100px;
    height: 40px;
    line-height: 40px;
    background: #4c5467;
    color: #fff;
    font-size: 15px;
    border: 0;
    cursor: pointer;
}

.calendar-area {
    display: block;
    margin-bottom: 50px;
    background-color: #ffffff;
}

.point-holiday,
.calendar-area table th.point-holiday,
.calendar-area table td.point-holiday {
    color: #ff3535
}

.point-sat,
.calendar-area table th.point-sat,
.calendar-area table td.point-sat {
    color: #3b76ee
}

.calendar-area table {
    table-layout: fixed;
    border: 0 none;
    border-collapse: collapse;
}

.calendar-area table thead th {
    height: 32px;
    color: #555559;
    text-align: center;
    background: #f9f9f9;
    font-size: 15px;
    border: 1px solid #e4e5e7;
}


.calendar-area table tbody td {
    height: 102px;
    padding: 10px;
    border: 1px solid #e4e5e7;
    vertical-align: top;
}

.calendar-area table tbody td .word-schdule {
    color: #777779;
    font-size: 13px;
    font-size: 15px;
}

.calendar-area table tbody td .word-schdule a {
    display: block;
    text-decoration: underline;
    color: #3e5082;
}

.calendar-area table tbody td .word-schdule.point-holiday,
.calendar-area table tbody td .word-schdule.point-holiday a {
    color: #ff3535
}

.calendar-area table tbody td .word-schdule.point-sat,
.calendar-area table tbody td .word-schdule.point-sat a {
    color: #3b76ee
}

.schdule-list-area {
    border: 1px solid #dedfe3;
    padding: 30px 30px 20px 30px;
}

.layerpopup-schdule-info-area {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/page/make_img/board/bg_01.png) repeat;
    z-index: 100000;
}

.layerpopup-schdule-info-area .layerpopup-schdule-info-box {
    position: absolute;
    top: 35%;
    left: 50%;
    display: block;
    width: 356px;
    margin-top: 0;
    margin-left: -218px;
    background: #fff;
    padding: 40px;
    border:1px solid #7d7d7d;
}

.layerpopup-schdule-info-area .layerpopup-schdule-info-box h2 {
    font-size: 21px;
    color: #333339;
    padding-bottom: 15px;
    border-bottom: 1px solid #e9e9ea
}

.layerpopup-schdule-info-area .layerpopup-schdule-info-box dl {
    position: relative;
    padding-left: 53px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e9e9ea;
    font-size: 16px;
}

.layerpopup-schdule-info-area .layerpopup-schdule-info-box dl dt {
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px 0;
    color: #333339;
}

.layerpopup-schdule-info-area .layerpopup-schdule-info-box dl dd {
    color: #777779;
}

.layerpopup-schdule-info-area .layerpopup-schdule-info-box .btn-close {
    float: right;
    margin-top: 15px;
    width: 60px;
    height: 36px;
    line-height: 36px;
    color: #fff;
    text-align: center;
    background: #9b9ca0;
    font-size: 15px;
}
.layerpopup-schdule-info-area .layerpopup-schdule-info-box .btn-close:hover {
    background: #818286
}
