@charset "utf-8";

.point-answer {
	color: #0c80cc;
	font-weight: 500
}

/* 버튼 종류 */
.btns-area {
	margin: 15px auto 0 auto;
	text-align: center;
}

.btns-area:after {
	content: "";
	clear: both;
	display: block;
}

.contents-area .btns-area {
	padding: 0;
}


.btns-area > a,
.btns-area > button {
	margin: 0 3px;
}

.btns-left {
	float: left;
}

.btns-left > a,
.btns-left > button {
	margin-left: 0;
	margin-right: 5px;
}

.btns-area > a,
.btns-area > button {
	transition: all 0.3s ease-in-out;
}

.btns-area a:hover,
.btns-area a:focus,
.btns-area button:hover,
.btns-area button:focus {
	box-shadow: 0 0 10px rgba(35, 37, 40, .2);
}


.btns-left > a:last-child,
.btns-left > button:last-child {
	margin-right: 0;
}

.btns-right {
	float: right;
}

.btns-right > a,
.btns-right > button {
	margin-right: 0;
	margin-left: 5px;
}


.btns-right > a:first-child,
.btns-right > button:first-child {
	margin-left: 0;
}


.btn-color01 {
	background: #e13542
}


.btns {
	display: inline-block;
	vertical-align: middle;
	height: 1.038rem;
	line-height: 1.038rem;
	margin-bottom:  0.4615rem;
	color: #fff;
	font-size: 1.077rem;
	font-weight: 500;
	margin: 0 2px;
	border: 0;
	cursor: pointer;
}



.btn-m {
	display: inline-block;
	vertical-align: middle;
	width:  10rem;
	height: 3.571rem;
	line-height: 3.571rem;
	font-size: 1rem;
	color: #000;
	margin: 0 0.1154rem;
	padding: 0 1.071rem;
	text-align: center;
	border: 1px solid #1354a4;
	border-radius: 3px;
	font-weight: 500;
}

.btn-m02 {
	display: inline-block;
	vertical-align: middle;
	width:  6.154rem;
	height: 2.692rem;
	line-height: 2.692rem;
	font-size: 1rem;
	color: #000;
	margin: 0 0.1154rem;
	padding: 0 1.071rem;
	text-align: center;
	border: 1px solid #1354a4;
	border-radius: 3px;
	font-weight: 500;
	background:#fff;
}

.btn-b {
	display: inline-block;
	vertical-align: middle;
	width: 9.375rem;
	height: 3.125rem;
	font-size:  1rem;
	color: #fff;
	margin: 0 0.1538rem;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;

}

.btn-s {
	display: inline-block;
	vertical-align: middle;
	height: 1.692rem;
	line-height: 1.692rem;
	color: #fff;
	padding: 0 1.154rem;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.btn-s02 {
	display: inline-block !important;
	vertical-align: middle;
	height:  1.462rem;
	line-height:  1.462rem;
	font-size:  0.9231rem;
	color: #fff;
	padding: 0 0.7692rem;
	border: 1px solid #b2b9c4
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.btn-s03 {
	display: inline-block;
	vertical-align: middle;
	height: 2rem;
	line-height: 2rem;
	color: #fff;
	padding: 0 1.154rem;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.btn-s04 {
	display: inline-block;
	vertical-align: middle;
	height: 2.308rem;
	line-height: 2.308rem;
	color: #fff;
	padding: 0 0.6154rem;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}



.btns-color01 {
	border: 1px solid #398ee5;
	background-color: #398ee5;
	color: #fff;
}

.btns-color01:hover {
	background: #fff;
	color: #398ee5;
	border: 1px solid #398ee5
}

.btns-color02 {
	border: 1px solid #413b70;
	background-color: #fff;
	color: #413b70
}

.btns-color02:hover {
	background: #413b70;
	color: #fff;
}

.btns-color03 {
	border: 1px solid #00a6f7;
	background-color: #fff;
	color: #0c80cc;
}

.btns-color03:hover {
	background: #00a6f7;
	color: #fff;
}

.btns-color04 {
	border: 1px solid #717171;
	background-color: #717171;
	color: #fff;
}

.btns-color04:hover {
	background: #fff;
	color: #717171;
	border: 1px solid #717171
}

.btns-color05 {
	background-color: #4297ee 
}

.btns-color06 {
	background-color: #f26826 
}

.btns-color07 {
	background-color: #53586c 
}

.btns-color08 {
	border: 1px solid #1354a4;
	color: #1354a4 !important;
	background: #fff;
}

.btns-color09 {
	background: #3166bd;
	border: 1px solid #3166bd;
}

.btns-color10 {
	color: #45aa65 !important;
	border: 1px solid #45aa65;
}

.btns-color11 {
	color: #3166bd !important;
	border: 1px solid #3166bd;
}

.btns-color12 {
	color: #999999 !important;
	border: 1px solid #999999;
}

.btns-color13 {
	color: #e7940e !important;
	border: 1px solid #e7940e! important;
}

.btns-color14 {
	color: #777777 !important;
	border: 1px solid #777777 !important;
}

.btns-color15 {
	color: #fff !important;
	background: #2da7ed;
	border: 1px solid #2da7ed !important;
}

.btns-color16 {
	color: #fff !important;
	background: #5d6c81;
	border: 1px solid #5d6c81 !important;
}




/* 게시판 */
.board-area {
	position: relative;
	padding-top: 10px;
}


.board-area .search-wrapper {
	position: relative;
	padding: 0 0 10px 0;
	text-align: center;
}

.board-area .search-wrapper:after {
	content: "";
	clear: both;
	display: block;
}

.board-area .search-wrapper > .total {
	float: left;
	color: #212121;
	font-size: 14px;
	line-height: 24px;
}


.board-area .search-wrapper > .total > strong {
	font-weight: 500;
}

.board-area .search-area {
	float: right;
	display: inline-block;
	vertical-align: middle;
}

.board-area .sort-selected-box {
	float: left;
}

.board-area .search-area select {
	float: left;
	width: 100px;
	height: 35px;
	line-height: 35px;
	border: 1px solid #d4d4d4;
	margin-right: 6px;
	font-size: 14px;	
	color: #6c6e6f;
	background-color: #fff;
	background-position: 95% center;
	background-size: 5px 4px;
}


.board-area .search-area .search-box {
	float: left;
}

.board-area .search-area .search-box:after {
	content: "";
	clear: both;
	display: block;
}

.board-area .search-area .search-box input[type="search"] {
	float: left;
	width: 175px;
	height: 35px;
	line-height: 35px;
	border: 1px solid #d4d4d4;
	border-right: 0;
	text-indent: 10px;
	font-size: 14px;
}

.board-area .search-area .search-box input[type="search"]:focus {
	background: #fff;
}


.board-area .search-area .search-box input[type="submit"] {
	float: left;
	width: 65px;
	height: 35px;
	line-height: 35px;
	border-radius: 0;
	border: 0;
	text-align: left;
	-webkit-appearance: none;
	color: #fff;
	cursor: pointer;
	text-align: center;
	font-size: 14px;
	background: #545861;
}

.board-area .search-wrapper.sort {
	position: relative;
	padding-top: 30px;
}

.board-area .search-wrapper.sort > .total {
	position: absolute;
	top: 0;
	left: 0;
}

.board-area .search-wrapper.sort .sort-select-area {
	float: right;
}

.board-area .search-wrapper.sort .sort-select-area .sort-select-box {
	float: left;
}

.board-area .search-wrapper.sort .sort-select-area .sort-select-box  select {
	float: left;
	width: 100px;
	height: 35px;
	line-height: 35px;
	border: 1px solid #d4d4d4;
	margin-right: 6px;
	font-size: 14px;	
	color: #6c6e6f;
	background-color: #fff;
	background-position: 95% center;
	background-size: 5px 4px;
}


.adm-chk {
	padding-top: 20px;
	clear: both;
	display: block;
	margin-bottom: 0;
}

.adm-chk {
	padding-top: 20px;
	clear: both;
	display: block;
	margin-bottom: 5px;
}

.adm-chk .chk-toggle {
	display: inline-block;
	vertical-align: middle;
	line-height: 24px;
}

.adm-chk label {
	display: inline-block;
	vertical-align: baseline;
	font-size: 14px;
	line-height: 24px;
	color: #212121;
	font-weight: 700;
	margin: 0;
}

.article-chk {
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}


/* 게시판 목록 */
.board-list01 {
	clear: both;
	border-top: 2px solid #66747e;
}

.board-list01 table {

}

.board-list01 table .no-thead,
.board-list01 table .no-thead th {
	font-size: 0;
	height: 0;
	padding: 0;
	line-height: 0;
	color: transparent;
}

.board-list01 tr {  } 
.board-list01 table tbody tr:hover {
	background: #f9f9f9;
}

.board-list01 tr.notice {
	background: #e7e7e7;
}

.board-list01 table th, 
.board-list01 table td {
	position: relative;
	border-width: 0;
}

.board-list01 table thead th {
	color: #212121;
	font-size: 16px;
	padding: 18px;
	font-weight: 700;
	text-align: center;
	background-image: url(../img/board/bg_board_th@2x.gif);
	background-repeat: no-repeat; 
	background-position: left bottom;
	background-size: 1px 9px;
	background-color: #f4f6f7;
	border-bottom: 1px solid #66747e
} 

.board-list01 table thead th:first-child {
	background: transparent;
	background-color: #f4f6f7;
}


.board-list01 tr.notice td {
	background: #f7f7f7;
}


.board-list01 table tbody td {
	background: #fff;
	border-bottom: 1px solid #e7e7e7; 
	color: #616161; 
	font-size: 16px;
	text-align: center; 
	padding: 18px;
}


.board-list01 table tbody td.title a {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	line-height: 24px;
	color: #212121;
	max-width: calc(100% - 60px);
	overflow: hidden;
	white-space: nowrap; 
	text-overflow: ellipsis; 
	-o-text-overow: ellipsis;
}

.board-list01 table tbody td.title a.no-ellipsis {
	white-space: normal; 
	word-break: break-all;
}

.board-list01 table tbody td.title a.w100 {
	max-width: 100% !important;
}

.board-list01 table tbody td.title a:hover {
	text-decoration: none;
}

.board-list01 table tbody td a:hover {
	color: #1355a4;
}

.board-list01 table tbody td.title a .mobile-info {
	display: none;
}


.board-list01 table tbody td.no-data {
	color: #212121;
	font-weight: 500;
}

.board-list01 table tbody td .icon-notice {
	display: inline-block;
	vertical-align: middle;
	width: 20px;
}
.board-list01 table tbody td .mobile-icon-notice {
	display: none;
}

.board-list01 table tbody td .icon-department {
	display: inline-block;
	vertical-align: middle;
	padding: 0 15px;
	min-width: 120px;
	height: 30px;
	line-height: 30px;
	margin-right: 15px;
	color: #fff;
	background: #f1a11f;
	border-radius: 3px;
	font-size: 16px;
	text-align: center;
}

.board-list01 table tbody td .icon-secret {
	display: inline-block;
	vertical-align: middle;
	width: 20px;
}

.board-list01 table tbody td .icon-secret > img {
	display: block;
	width: 20px;
}


.board-list01 table tbody td .icon-reply {
	display: inline-block;
	vertical-align: middle;
	width: 13px;
	height: 9px;
	margin-right: 6px;
	background: url(../img/board/icon_reply@2x.gif) no-repeat left top;
	background-size: 13px 9px;
	text-indent: -5000rem;
}

.board-list01 table tbody td .icon-reply > img {
	display: block;
	width: 100%;
}

.board-list01 table tbody td .board-right-icon-wrapper {
	display: inline-block;
	vertical-align: middle;
}

.board-list01 table tbody td .icon-new {
	display: inline-block;
	vertical-align: baseline;
	width: 25px;
}

.board-list01 table tbody td .icon-file {
	display: inline-block;
	vertical-align: baseline;
	width: 20px;
}

.board-list01 table tbody td .board-right-icon-wrapper > .icon-secret {
	width: 20px;
}

.board-list01 table .title {
	width: auto;
}


.board-list01 table .writer,
.board-list01 table .state,
.board-list01 table .award,
.board-list01 table .answer {
	width: 180px;
}

.board-list01 table .date {
	width: 120px;
}

.board-list01 table .journal {
	width: 180px;
}

.board-list01 table .file,
.board-list01 table .number,
.board-list01 table .hit {
	width: 70px;
}

.btn-state {
	display: inline-block;
	vertical-align: middle;
	width: 80px;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
}

.btn-state.type01 {
	border: 1px solid #1354a4;
	background: #fff;
	color: #1354a4;
}

.btn-state.type02 {
	border: 1px solid #1354a4;
	background: #1354a4;
	color: #fff;
}

.btn-state.type03 {
	border: 1px solid #5d6c81;
	background: #5d6c81;
	color: #fff;
}


/* 페이징 네비게이션 */
.paging-navigation {
	clear: both; 
	text-align: center; 
	padding-bottom: 0;
	margin-top: 35px;
}

.paging-navigation a {
	display: inline-block; 
	line-height: 35px; 
	min-width: 35px; 
	height: 35px; 
	padding: 0 3px;
	margin: 0 2px;
	color: #4c4c50;
	font-size: 0.8125rem;
	border: 1px solid #c5c7cc; 
	vertical-align: middle; 
	background: #fff;
}
.paging-navigation a:hover {
	border: 1px solid #636363; 
	color: #fff;
	background: #636363;
	text-decoration: none;
}
.paging-navigation strong {
	display: inline-block; 
	line-height: 35px; 
	min-width: 35px; 
	height: 35px; 
	padding: 0 3px; 
	margin: 0 2px;
	border: 1px solid #636363; 
	color: #fff; 
	font-size: 0.8125rem;
	vertical-align: middle;
	background: #636363;
}
.paging-navigation a.btn-first {
	width: 35px;
	padding: 0;
	text-indent: -5000em;
	background: transparent url(../img/board/btn_first.gif) no-repeat center center;
	background: -webkit-linear-gradient(transparent, transparent), url(../img/board/btn_first@2x.gif) no-repeat center center;
	background: linear-gradient(transparent, transparent), url(../img/board/btn_first@2x.gif) no-repeat center center;
	background-size: 7px 7px;
}
.paging-navigation a.btn-preview {
	margin-right: 
	width: 35px;
	padding: 0;
	margin-right: 15px;
	text-indent: -5000em; 
	background: transparent url(../img/board/btn_previous.gif) no-repeat center center;
	background: -webkit-linear-gradient(transparent, transparent), url(../img/board/btn_previous@2x.gif) no-repeat center center;
	background: linear-gradient(transparent, transparent), url(../img/board/btn_previous@2x.gif) no-repeat center center;
	background-size: 4px 7px;
}
.paging-navigation a.btn-next {
	width: 35px;
	padding: 0;
	margin-left: 15px;
	text-indent: -5000em; 
	background: transparent url(../img/board/btn_next.gif) no-repeat center center;
	background: -webkit-linear-gradient(transparent, transparent), url(../img/board/btn_next@2x.gif) no-repeat center center;
	background: linear-gradient(transparent, transparent), url(../img/board/btn_next@2x.gif) no-repeat center center;
	background-size: 4px 7px;
}
.paging-navigation a.btn-last {
	width: 35px;
	padding: 0;
	text-indent: -5000em; 
	background: transparent url(../img/board/btn_last.gif) no-repeat center center;
	background: -webkit-linear-gradient(transparent, transparent), url(../img/board/btn_last@2x.gif) no-repeat center center;
	background: linear-gradient(transparent, transparent), url(../img/board/btn_last@2x.gif) no-repeat center center;
	background-size: 7px 7px;
}


/* 게시판 글보기 */
.board-view {
	position: relative;
	margin-bottom: 26px;
	background: #fff;
	border-top: 2px solid #66747e;
}

.board-view .title-area {
	position: relative;
	padding: 22px 140px 20px 30px;
	border-bottom: 1px solid #c8c8c8
}

.board-view .title-area > h4 {
	color: #424242;
	font-size: 18px;
	line-height: 30px;
	margin-bottom: 0;
	font-weight: 400;
}



.board-view .point-answer {
	padding-right: 25px;
}

.board-view .icon-department {
	display: inline-block;
	vertical-align: middle;
	padding: 0 15px;
	min-width: 120px;
	height: 34px;
	line-height: 34px;
	margin-right: 15px;
	color: #fff;
	background: #f1a11f;
	border-radius: 3px;
	font-size: 16px;
	text-align: center;
}

.board-view .title-area > .date-hit {
	position: absolute;
	top: 50%;
	right: 30px;
	display: block;
	color: #919191;
	line-height: 1.429rem;
	margin-top: -0.7145rem;
	font-size: 1rem;
}

.board-view .title-area > .date-hit:after {
	content: "";
	clear: both;
	display: block;
}

.board-view .title-area > .date-hit > p {
	float: left;
}

.board-view .title-area > .date-hit > p.btn-state {
	width: auto;
	padding: 0 20px;
	height: 25px;
	line-height: 25px;
	text-align: center;
}

.board-view .board-view-information {
	border-bottom: 1px solid #e0e0e0;
	padding: 20px 30px 15px 30px;
}

.board-view .board-view-information:after {
	content: "";
	clear: both;
	display: block;
}

.board-view .board-view-information > dl,
.board-view .board-view-information > dl dt,
.board-view .board-view-information > dl dd {
	float: left;
	color: #424242;
}

.board-view .board-view-information > dl {
	padding-right: 31px;
	margin-right: 30px;
	font-size: 16px;
	line-height: 30px;
	background: url(../img/board/icon_bar04@2x.gif) no-repeat right center;
	background-size: 1px 14px;
}

.board-view .board-view-information > dl dt {
	margin-right: 20px;
	font-weight: 700;
	color: #616161;
}

.board-view .board-view-information > dl:last-child {
	padding-right: 0;
	margin-right: 0;
	background: transparent;
}


.board-view .board-view-information > .board-view-date {
	position: absolute;
	top: 23px;
	right: 40px;
	padding: 0;
	margin: 0;
	background: transparent;
	font-size: 16px;
	line-height: 30px;
}

.board-view .board-view-information > .board-view-date dt {
	display: none;
}

.board-view .board-view-information > .board-view-date dd {
	color: #919191;
}


.board-view .attached-file-wrapper {
	border-bottom: 1px solid #c8c8c8;
	padding: 20px 30px 20px 117px;
	font-size: 16px;
	line-height: 30px;
	min-height: 66px;
}

.board-view .attached-file-wrapper:after {
	content: "";
	clear: both;
	display: block;
}

.board-view .attached-file-wrapper dt {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px 30px;
	color: #616161;
	font-weight: bold;
}

.board-view .attached-file-wrapper dd > p {
	display: block;
	margin-top: 10px;
}

.board-view .attached-file-wrapper dd > p:first-child {
	margin-top: 0;
}

.board-view .attached-file-wrapper dd > p > a {
	display: inline-block;
	padding-left: 28px;
	color: #424242;
	font-size: 1.077rem;
	background-image: transparent url(../img/board/icon_download.png);
	background-image: -webkit-linear-gradient(transparent, transparent), url(../img/board/icon_download@2x.png);
	background-image: linear-gradient(transparent, transparent), url(../img/board/icon_download@2x.png);
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 20px 20px;
}


.board-view .attached-file-wrapper dd > p > a:hover {
	text-decoration: underline;
	color: #1f5da9
}

.board-view .schdule-dl {
	position: relative;
	padding: 20px 30px 20px 110px;
}

.board-view .schdule-dl > dt {
	position: absolute;
	top: 17px;
	left: 30px;;
	width: 60px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #45aa65;
	bordeR: 1px solid #45aa65;
}

.board-view .schdule-dl > dd {
	display: block;
	font-size: 1rem;
	line-height: 1.5rem;
	color: #555555;
	font-weight: 300;
}

.board-view .explain-wrapper {
	border-bottom: 1px solid #e0e0e0;
	padding: 17px 30px;
	
}

.board-view .explain-wrapper:after {
	content: "";
	clear: both;
	display: block;
}

.board-view .explain-wrapper > dl {
	float:left;
	font-size:16px;
	line-height:26px;
	padding-right:20px;
	margin-left:20px;
	background-image: transparent url(../img/board/icon_bar02.gif);
	background-image: -webkit-linear-gradient(transparent, transparent), url(../img/board/icon_bar02@2x.gif);
	background-image: linear-gradient(transparent, transparent), url(../img/board/icon_bar02@2x.gif);
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 1px 14px;
}

.board-view .explain-wrapper > dl:first-child {
	margin-left:0;
}

.board-view .explain-wrapper > dl:last-child {
	background-image: none;
}

.board-view .explain-wrapper > dl > dt {
	display:inline-block;
	padding-right:15px;
	color:#212121;
	font-weight:500;
}

.board-view .explain-wrapper > dl > dd {
	display:inline-block;
}

.board-view .board-contents {
	padding: 30px;
	min-height: 300px;
}

.board-view .board-contents img {
	display: block;
	max-width: 100%;
	margin: 0 auto 1rem auto;
}

.board-view .board-contents > pre {
	word-wrap: break-word;

	white-space: pre-wrap;
	word-wrap: break-word; 
	font-size: 16px;
	line-height: 26px;
	padding: 0;
	margin: 0;
	color: #212121;
	font-weight: 300;
	font-family: 'Noto Sans KR',  'Nanum Gothic', 'Helvetica', sans-serif;
	word-break: keep-all;
}

.board-view-answer-wrapper {
	padding: 30px;
	background: #f7f7f7;
	border-top: 1px solid #c8c8c8;
}

.board-view-answer-wrapper .board-view-answer-title {
	margin: 0 0 20px 0;
	padding: 0 0 0 15px;
	background: url(../img/board/icon_reply02@2x.png) no-repeat left 10px;;
	background-size: 8px 8px;
}

.board-view-answer-wrapper .board-view-answer-title .circle {
	display: inline-block;
	vertical-align: middle;
	margin-right: 6px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 50%;
	background: #413b70;
	color: #fff;
	font-weight: 700;
	text-align: center;
}

.board-view-answer-wrapper .board-view-answer-title > strong {
	display: inline-block;
	vertical-align: middle;
	line-height: 30px;
	color: #424242;
	font-weight: 400 !important;
}


.board-view-answer-wrapper .department-wrapper {
	margin-bottom: 5px;
	font-size: 16px;
	line-height: 26px;
	color: #616161;
}

.board-view-answer-wrapper .department-wrapper > strong {
	color: #424242;
	font-weight: 700;
}

.board-view-answer-wrapper > pre {
	padding: 0;
	margin: 0;
	word-wrap: break-word;
	white-space: pre-wrap;
	word-wrap: break-word; 
	font-size: 16px;
	line-height: 26px;
	color: #212121;
	font-weight: 400;
	font-family: 'Noto Sans KR',  'Nanum Gothic', 'Helvetica', sans-serif;
	word-break: keep-all;
}

.preview-next {
	display: block;
}

.preview-next a {
	display: block;
	border-top: 1px solid #e0e0e0;
}

.preview-next a:last-child{
	border-bottom: 1px solid #e0e0e0;
	margin-top:-1px;
}

.preview-next a:hover {
	background: #f9f9f9;
}

.preview-next a > dl {
	position: relative;
	padding: 13px 30px 13px 135px;
}

.preview-next a > dl > dt {
	position: absolute;
	top: 50%;
	left: 0;
	width: 95px;
	padding-left: 30px;
	margin-top: -10px;
	color: #616161;
	font-size: 16px;
	line-height: 20px;
	font-weight: 500;

	background-image: transparent url(../img/board/icon_arrow_up.png);
	background-image: -webkit-linear-gradient(transparent, transparent), url(../img/board/icon_arrow_up@2x.png);
	background-image: linear-gradient(transparent, transparent), url(../img/board/icon_arrow_up@2x.png);
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 8px 4px;
}

.preview-next a:nth-child(even) > dl > dt {
	background-image: transparent url(../img/board/icon_arrow_down.png);
	background-image: -webkit-linear-gradient(transparent, transparent), url(../img/board/icon_arrow_down@2x.png);
	background-image: linear-gradient(transparent, transparent), url(../img/board/icon_arrow_down@2x.png);
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 8px 4px;
}

.preview-next a > dl > dd {
	display: block;
	height: 35px;
	line-height: 35px;
	color: #424242;
	font-size: 16px;
	overflow: hidden;
	white-space: nowrap; 
	text-overflow: ellipsis; 
	-o-text-overow: ellipsis;
	margin: 0;
	padding: 0;
}

/* 글쓰기 */
.board-write {
	margin-bottom: 30px;
	border-top: 2px solid #66747e;
}

.one-box {
	margin: 0;
	padding: 0;
}

.one-box.top-line {
	border-top: 1px solid #e0e0e0
}

.half-box {
	float: left;
	width: 50%;
}

.one-box:after {
	content: "";
	clear: both;
	display: block;
}

.board-write dl {
	position: relative;
	margin-top: -1px;
	padding-left: 175px;
	border-top: 1px solid #c8c8c8;
	border-bottom: 1px solid #c8c8c8;
}

.board-write > .one-box:first-child dl {
	border-top: 1px solid #66747e;
}

.board-write dl > dt {
	position: absolute;
	top: 0;
	left: 0;
	width: 175px;
	height: 65px;
	line-height: 45px;
	padding: 10px 30px;
	color: #424242;
	font-size: 1rem;
	font-weight: 500;
}


.board-write dl > dd {
	display: block;
	min-height: 65px;
	padding: 10px 0;
	background: #fff;
}

.board-write dl > dd:after {
	content: "";
	clear: both;
	display: block;
}

.board-write dl > dd select,
.board-write dl > dd input[type="text"],
.board-write dl > dd input[type="password"],
.board-write dl > dd input[type="number"] {
	width: 100%;
	height: 45px;
	line-height: 45px;
	color: #555555;
	font-size: 1rem;
	border: 1px solid #ebebeb;
}

.board-write dl > dd select,
.board-write dl > dd input[type="password"] {
	width: 330px;
}

.board-write textarea {
	height: 410px;
	padding: 20px;
	color: #555555;
	font-size: 1rem;
	line-height: 1.5rem;
	margin: 10px 0;
	border: 1px solid #e8e8e8;
}

.attached-file-wrapper {
	position: relative;
	padding-right: 150px;
	margin-bottom: 10px;
}

.attached-file-wrapper:last-child {
	margin-bottom: 0;
}

.attached-file-wrapper input[type=text]:read-only {
	background: #fff;
}

.attached-file-wrapper .upload-btn_wrap .input_file {
	position:absolute;
	top:0;
	left:0;
	cursor:pointer;
	width: 150px;;
	height: 45px;
	opacity: 0;
	filter:alpha(opacity=0);
	-ms-filter:"alpha(opacity=0)";
	-khtml-opacity:0;
	-moz-opacity:0;
}

.attached-file-wrapper .upload-btn_wrap {/*버튼테두리 감싼 div*/
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	width: 150px; 
	height: 45px;
	text-align: center;
}

.attached-file-wrapper .upload-btn_wrap button {
	width: 150px;
	height: 45px;
	text-align: center;
	background:#31343f;
	border:1px solid #31343f;
	border-radius: 0;
	-webkit-appearance: none;
	color:#fff;
	font-size: 1rem;
	font-weight: 500;

}

.attached-file-wrapper .upload-btn_wrap button > span {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}

.attached-file-wrapper .upload-btn_wrap button > img {
	display: inline-block;
	vertical-align: middle;
	width: 19px;
}


.deleted { 
	text-decoration: line-through !important; 
	color: #999999 !important;
}

.checked-notice {
	margin-bottom: 10px;;
}

.checked-notice input[type="checkbox"] {
	display: inline-block;
	vertical-align: middle;
	line-height: 24px;
}

.checked-notice label {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	line-height: 24px;
	color: #212121;
	margin: 0;
	font-weight: 500;
}

.input-period-wrapper {
	max-width: 500px;
}

.input-period-wrapper:after {
	content: "";
	clear: both;
	display: block;
}

.input-period-wrapper .input-period-area {
	float: left;
	width: 45%;
}

.input-period-wrapper .word-unit {
	float: left;
	width: 10%;
	height: 45px;
	line-height: 45px;
	text-align: center;
}


.mask-layerpopup {
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.5;
	z-index: 6000
}


.layerpopup-password-wrapper {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 510px;
	margin-top: -150px;
	margin-left: -255px;
	z-index: 7000;
	background: #fff;
	border-radius: 8px;
	-webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
	box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
}

.layerpopup-password-area {
	width: 100%;
	padding: 50px 35px 40px 35px;;
	text-align: center;
}

.layerpopup-password-area label {
	display: block;
	height: 40px;
	line-height: 40px;
	color: #000000;
	font-size: 24px;
	margin-bottom: 40px;
	text-align: center;
	font-weight: 500;
}
	
.layerpopup-password-area label .icon-secret {
	display: inline-block;
	vertical-align: middle;
	width: 40px;
	height: 40px;
	background: #2da7ed;
	border-radius: 4px;
	margin-right: 6px;
}

.layerpopup-password-area label .icon-secret > img {
	display: block;
	width: 100%;
}

.layerpopup-password-area input[type="password"] {
	display: block;
	width: 100%;
	height: 60px;
	border: 1px solid #dddddd;
	text-indent: 20px !important;
	font-size: 18px;
}

.layerpopup-password-wrapper .footer-button-wrapper {
	display: block;
	height: 70px;
}

.layerpopup-password-wrapper .footer-button-wrapper:after {
	content: "";
	clear: both;
	display: block;
}

.layerpopup-password-wrapper .footer-button-wrapper > button {
	float: left;
	width: 50%;
	height: 70px;
	text-align: center;
	color: #fff;
	font-size: 24px;
	font-weight: 500;
}

.layerpopup-password-wrapper .footer-button-wrapper > .btn-cancel {
	background: #5d6c81;
	border-bottom-left-radius: 8px;
}

.layerpopup-password-wrapper .footer-button-wrapper > .btn-confirm {
	background: #2da7ed;
	border-bottom-right-radius: 8px;
}

.layerpopup-password-wrapper .btn-layerpopup-close {
	position: absolute;
	top: 19px;
	right: 20px;
	display: block;
	width: 14px;
	height: 15px;
	background: url(../img/board/btn_layerpopup_close@2x.png) no-repeat 0 0;
	background-size: 14px 15px;
	text-indent: -5000rem;
}

/* 포토갤러리 */
.photo-list-wrapper {
	padding-top: 15px;
}

.photo-list-wrapper > li {
	float: left;
	width: 31.5%;
	margin-right: 2.75%;
	margin-top: 60px;
}

.photo-list-wrapper > li:nth-child(3n) {
	margin-right: 0;
}

.photo-list-wrapper > li:nth-child(1),
.photo-list-wrapper > li:nth-child(2),
.photo-list-wrapper > li:nth-child(3) {
	margin-top: 0;
}

.photo-list-wrapper > li > a {
	position: relative;
	display: block;
	text-align: center;
}

.photo-list-wrapper > li > a .icon-new {
	position: absolute;
	top: 5px;
	left: 5px;
	z-index: 10;
	display: block;
	width: 20px;
	height: 20px;
	background: url(../img/board/icon_new01@2x.png) no-repeat 0 0;
	background-size: 20px 20px;
	text-indent: -5000rem;
	z-index: 5;
}

.photo-list-wrapper > li > a > .images {
	position: relative;
	display: block;
	width: 100%;
	padding-bottom: 66.3%;
	margin: 0 auto 20px auto;
	overflow: hidden;
}

.photo-list-wrapper > li > a > .images > img {
	position: absolute;
	top: -100%;
	left: -100%;
	bottom: -100%;
	right: -100%;
	display: block;
	min-width: 100%;
	max-width: 120%;
	max-height: 120%;
	margin: auto;
}

.photo-list-wrapper > li > a > strong {
	display: block;
	margin-bottom: 5px;
	color: #424242;
	font-size: 16px;
	line-height: 20px;
	overflow: hidden; 
	text-overflow: ellipsis;
	white-space: nowrap; 
	font-weight: 500;
}

.photo-list-wrapper > li > a > .date {
	display: block;
	color: #828282;
	font-size: 14px;
	line-height: 16px;
	font-weight: 300;
}


/* 코멘트 */
.comment-wrapper {
	margin-top: 40px;
	border-top: 2px solid #66747e;
	border-bottom: 1px solid #e4e6e8
}

.comment-form-wrapper {
	display: block;
}

.comment-form-wrapper:first-child {
	margin-bottom: 25px;
}


.comment-form-area {
	padding: 20px 25px;
	border: 1px solid #e4e6e8;
	background: #f9f9f9;
	text-align: left;
	overflow: hidden;
	margin-top: -1px;
}


.comment-header-wapper {
	display: block;
}

.comment-header-wapper:after {
	content: "";
	clear: both;
	display: block;
}

.comment-header-wapper .left {
	float: left;
}

.comment-input-wrapper {
	float: left;
	margin-right: 50px;
}

.comment-input-wrapper:last-child {
	margin-right: 0;
}


.comment-input-wrapper > label {
	float: left;
	font-size: 15px;
	line-height: 30px;
	font-weight: 700;
	color: #424242
}

.comment-input-wrapper > input {
	float: left;
	margin-left: 10px;
	font-size: 13px;
	height: 30px;
	font-weight: 500;
	color: #424242;
	border: 1px solid #e0e0e0;
	font-family: "Noto Sans KR", Noto Sans KR, sans-serif;
	font-weight: 400;
}


.comment-header-wapper .left .name {
	float: left;
	font-size: 15px;
	line-height: 30px;
	font-weight: 700;
	color: #424242
}

.comment-header-wapper .left .date {
	margin-left: 10px;
	float: left;
	height: 30px;
	line-height: 30px;
	margin-right: 10px;
	font-size: 13px;
}


.comment-header-wapper .left > img {
	float: left;
	margin-top: 10px;
	margin-right: 10px;
	width: 13px;
}

.comment-header-wapper .right {
	float: right;
}

.comment-header-wapper .right .small-btns {
	float: left;
}

.comment-header-wapper .right .small-btns > button {
	float: left;
	margin-left: 5px;
	padding: 0 20px;
	height: 30px;
	line-height: 30px;
	background: #5f6263;
	color: #fff;
}


.comment-body-wrapper {
	position: relative;
	padding-right: 90px;
	margin-top: 10px;
}

.comment-body-wrapper > textarea {
	padding: 10px;
	border: 1px solid #e0e0e0;
	height: 80px;
	font-family: "Noto Sans KR", Noto Sans KR, sans-serif;
	font-weight: 400;
}

.comment-body-wrapper > button {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	width: 80px;
	height: 80px;
	font-size: 1rem;
	font-weight: 700;
	color: #fff;
	border: 1px solid #398ee5;
	background: #398ee5;
	border-radius: 3px
}

.comment-body-wrapper > button:hover,
.comment-body-wrapper > button:focus {
	background: #fff;
	color: #398ee5;
	box-shadow: 0 0 10px rgba(35, 37, 40, .2);
}

.comment-information {
	padding: 20px 25px;
	font-size: 15px;
	line-height: 28px;
	word-break: keep-all;
}

.reply-wrapper.count1 .comment-information {
	padding-left: 50px;
}

.reply-wrapper.count2 .comment-information {
	padding-left: 72px;
}

.reply-wrapper.count3 .comment-information {
	padding-left: 94px;
}

.reply-wrapper.count4 .comment-information {
	padding-left: 116px;
}

.reply-wrapper.count5 .comment-information {
	padding-left: 138px;
}

.moview-wrapper {
	position: relative;
	width: 100%;
	padding-bottom: 56.25%;
}

.moview-wrapper > iframe {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
}

.board-view-sns {
	display: block;
	padding-bottom: 13px;
}

.board-view-sns:after {
	content: "";
	clear: both;
	display: block;
}

.board-view-sns > li {
	float: left;
	margin-left: 8px;
}

.board-view-sns > li:first-child {
	margin-left: 0;
}

.board-view-sns > li > a {
	display: block;
}


.board-view-sns > li > a > img {
	display: inline-block;
	vertical-align: middle;
	width: 36px;
}