.span-br {
	display: block;
}

.span-mobile-br {
	display: inline;
}

.only-pc {
	display: block;
}

.only-mobile {
	display: none;
}

.center-crop > img {
	position: absolute;
	top: -100%;
	left: -100%;
	right: -100%;
	bottom: -100%;
	display: block;
	min-width: 100%;
	max-width: 110%;
	margin: auto;
}

.no-line {
	border: 0 !important
}

.point-color01 {
	color: #009bd8 !important
}

.point-color02 {
	color: #424242 !important
}

.point-color03 {
	color: #c54747 !important
}

.point-color04 {
	color: red !important
}

.point-color05 {
	color: #999999 !important
}


.word-light {
	font-weight: 300 !important
}

.word-medium {
	font-weight: 500 !important
}

.word-bold {
	font-weight: 700 !important
}

.left {
	text-align: left !important;
}

.center {
	text-align: center !important;
}

.right {
	text-align: right !important;
}

.underline {
	text-decoration: underline;
}

.inline-block{
	display:inline-block;
}

.vertical-middle{
	vertical-align:middle;
}

/* 교수소개 */
.professor-wrapper {
	display: block;
	margin-bottom: 26px;
}

.professor-wrapper:after {
	content: "";
	clear: both;
	display: block;
}

.professor-area {
	position: relative;
	display: block;
	min-height: 336px;
	padding: 48px 0 30px 214px;
	border-bottom: 1px solid #d8d8d8
}

.professor-area:after {
	content: "";
	clear: both;
	display: block;
}

.professor-area:first-child {
	border-top: 1px solid #d8d8d8
}

.professor-area > .image {
	position: absolute;
	top: 48px;
	left: 0;
	display: block;
	width: 180px;
	height: 240px;
	overflow: hidden;
}

.professor-area > h4 {
	display: block;
	font-size: 22px;
	line-height: 26px;
	font-weight: 500;
	padding-top: 3px;
	padding-bottom: 13px;
	color: #333333;
}

.professor-area > ul {
	display: block;
}

.professor-area > ul > li {
	position: relative;
	padding-left: 157px;
	margin-bottom: 6px;
	font-size: 16px;
	line-height: 22px;
	font-weight: 300;
	word-break: keep-all;
	color: #828282;
}

.professor-area > ul > li:after {
	content: "";
	clear: both;
	display: block;
}

.professor-area > ul > li > strong {
	float: left;
	margin-left: -157px;
	font-weight: 300;
	color: #424242;
	padding-left: 12px;
	background: url(../img/bul/bul_circle_type01@2x.png) no-repeat left 12px;
	background-size: 3px 3px;
}

.professor-area > .btn-detail-view {
	float: right;
	margin-top: 23px;
	padding: 0 22px 0 28px;
	height: 36px;
	line-height: 36px;
	font-size: 14px;
	background: #0089d8;
	color: #fff;
	border-radius: 18px;
	transition: all 0.2s ease-in-out;
}

.professor-area > .btn-detail-view:hover {
	background: #0169a4
}

.professor-area > .btn-detail-view > img {
	display: inline-block;
	vertical-align: middle;
	width: 14px;
	margin-left: 7px;
}

.professor-list-area {
	position: relative;
	width: calc(50% - 10px);
	margin-bottom: 23px;
	display: block;
	height: 100%;
	min-height: 246px;
	padding: 30px 30px 30px 200px;
	border: 1px solid #dddddd;
	transition: all 0.2s ease-in-out;
}

.professor-list-area:hover,
.professor-list-area:focus {
	border: 1px solid #0169a4
}

.professor-list-area:nth-child(even) {
	float: right;
}

.professor-list-area:nth-child(odd) {
	clear: both;
	float: left;
}

.professor-list-area:after {
	content: "";
	clear: both;
	display: block;
}


.professor-list-area > .image {
	position: absolute;
	top: 30px;
	left: 30px;
	display: block;
	width: 140px;
	height: 186px;
	overflow: hidden;
}

.professor-list-area > h4 {
	display: block;
	font-size: 23px;
	line-height: 26px;
	font-weight: 700;
	padding-top: 3px;
	padding-bottom: 8px;
	letter-spacing: 700;
	letter-spacing: -0.25px;
	color: #333333;
}

.professor-list-area > ul {
	padding-top: 10px;
	display: block;
}

.professor-list-area > ul > li {
	position: relative;
	padding-left: 90px;
	margin-bottom: 6px;
	font-size: 17px;
	line-height: 22px;
	font-weight: 300;
	word-break: keep-all;
	letter-spacing: -0.25px;
	color: #828282;
}

.professor-list-area > ul > li:last-child {
	margin-bottom: 0;
}



.professor-list-area > ul > li:after {
	content: "";
	clear: both;
	display: block;
}

.professor-list-area > ul > li > strong {
	float: left;
	width: 80px;
	margin-left: -90px;
	font-weight: 400;
	color: #333333;
	padding-left: 10px;
	background: url(../img/bul/bul_circle_type01@2x.png) no-repeat left 8px;
	background-size: 3px 3px;
}

.professor-list-area > ul > li > span {
	float: left;
	display: block;
	width: 100%;

	display:-webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient:vertical;
	overflow:hidden;
	text-overflow:ellipsis;
	max-height: 44px;
}

.professor-list-area > .btn-detail-view {
	float: right;
	margin-top: 15px;
	padding: 0 14px 0 16px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	background: #189ce1;
	color: #fff;
	border-radius: 15px;
	transition: all 0.2s ease-in-out;
}

.professor-list-area > .btn-detail-view:hover {
	background: #0169a4
}

.professor-list-area > .btn-detail-view > img {
	display: inline-block;
	vertical-align: middle;
	width: 14px;
	margin-left: 4px;
}






.contents-area {
	margin-bottom: 60px;
}

.contents-box {
	padding-left: 16px;
	/* padding-left: 30px; */
	padding-bottom: 10px; /* 김팀추가 */
}

.contents-box:last-child {
	padding-bottom: 0; /* 김팀추가 */
}



.contents-box02 {
	padding-left: 13px;
}

.contents-area:last-child {
	margin-bottom: 0;
}

.title-type01 {
	padding-left: 28px;
	margin-bottom: 14px;
	color: #333333;
	font-size: 24px;
	line-height: 26px;
	font-weight: 700;
	background: url(../img/bul/bul_title01@2x.png) no-repeat left 4px;
	background-size: 18px 18px;
	word-break: keep-all;
}

.title-type02 {
	padding-left: 13px;
	color: #333333;
	font-size: 17px;
	line-height: 164%;
	font-weight: 600;
	background: url(../img/bul/bul_circle_type04.png) no-repeat left 10px;
	background-size: 5px 5px;
	word-break: keep-all;
}

.title-type03 {
	padding: 18px 15px;
	color: #424242;
	font-size: 18px;
	line-height: 26px;
	font-weight: 500;
	background-color: #f0f0f0;
	border: 1px solid #dddddd;
	text-align: center;
}

.title-type04 {
	color: #333333;
	font-size: 16px;
	line-height: 26px;
	font-weight: 500;
}

.title-area {
	position: relative;
	display: block;
}

.title-area:after {
	content: "";
	clear: both;
	display: block;
}

.title-area > h4,
.title-area > h5,
.title-area > h6 {
	display: inline-block;
	vertical-align: middle;
}

.title-area .right.absolute {
	position: absolute;
	bottom: 0;
	right: 0;

}

div + .title-type01,
p + .title-type01,
ul + .title-type01,
ol + .title-type01,
dl + .title-type01,
div + .title-type02,
p + .title-type02,
ul + .title-type02,
ol + .title-type02,
dl + .title-type02,
.contents-box + .contents-box,
.contents-box02 + .contents-box02 {
	margin-top: 20px;
}

h4 + h5,
h5 + h5,
h5 + h6,
p + h6,
div + h6,
ul + h6,
ol + h6 {
	margin-top: 20px;
}

/* ul list */
.ul-list01 {
	display: block;
	word-break: keep-all;
}

.ul-list01 > li {
	padding-left: 13px;
	margin-bottom: 6px;
	color: #333333;
	font-size: 17px;
	line-height: 28px;
	font-weight: 300;
	background: url(../img/bul/bul_circle_type02@2x.png) no-repeat left 12px;
	background-size: 3px 3px;
	letter-spacing: -0.25px;
}

.ul-list01.type02 > li {
	padding-left: 13px;
	margin-bottom: 6px;
	color: #333333;
	font-size: 18px;
	line-height: 32px;
	font-weight: 300;
	background-position: left 15px;
}


.ul-list01 > li:last-child {
	margin-bottom: 0;
}

.ul-list02 {
	display: block;
	word-break: keep-all;
}

.ul-list02 > li {
	padding-left: 16px;
	/* margin-bottom: 6px; */
	color: #777777;
	font-size: 17px;
	line-height: 28px;
	font-weight: 400;
	background: url(../img/bul/bul_circle_type02@2x.png) no-repeat left 12px;
	background-size: 3px 3px;
	letter-spacing: -0.25px;
}

.ul-list02.type02 > li {
	padding-left: 13px;
	/* margin-bottom: 6px; */
	color: #333333;
	font-size: 18px;
	line-height: 32px;
	font-weight: 300;
	background-position: left 15px;
}


.ul-list02 > li:last-child {
	margin-bottom: 0;
}


.word-type01 + .ul-list02 {
	margin-top: 4px;
}




.ol-list01 {
	display: block
}

.ol-list01 > li {
	position: relative;
	padding-left: 25px;
	font-size: 16px;
	line-height: 26px;
	color: #666666;
	font-weight: 300;
}

.ol-list01 > li > .number {
	position: absolute;
	top: 0;
	left: 0;
}

.ol-list01 > li > li {
	padding-left: 13px;
	color: #666666;
	font-size: 16px;
	line-height: 30px;
	font-weight: 300;
	background: url(../img/bul/bul_circle_type02@2x.png) no-repeat left 15px;
	background-size: 3px 3px;
	word-break: keep-all;
}

h4 + ol,
h4 + ul,
h4 + dl,
h5 + ol,
h5 + ul,
h5 + dl,
h5 + p,
h5 + div,
h5 + p + ol,
h5 + p + ul,
h5 + p + ol,
h5 + p + dl,
ul + p,
ol + p,
dl + p,
p + ul + ul,
p + ul + ol,
p + ol + ul,
p + ol + ol {
	margin-top: 8px;
	margin-left: 13px;
}

.ul-list01 > li > ul > li,
.ol-list01 > li > ul > li {
	position: relative;
	padding-left: 10px;
	color: #666666;
	font-weight: 300;
}

.ul-list02 > li > ul > li{
	position: relative;
	padding-left: 10px;
	color: #666666;
	font-weight: 300;

}

.ul-list01 > li > ul > li:after,
.ol-list01 > li > ul > li:after {
	position: absolute;
	top: 0;
	left: 0;
	content: "-";
}

.ul-list02 > li > ul > li::after{
	position: absolute;
	top: 0;
	left: 0;
	content: "-";
}


/* tabmenu list */
.tabmenu-wrapper {
	margin-bottom: 35px;
	border-bottom: 1px solid #dadada
}

.tabmenu-wrapper > ul {
	display: block;
}

.tabmenu-wrapper > ul:after {
	content: "";
	display: block;
	clear: both;
}

.tabmenu-wrapper > ul > li {
	position: relative;
	float: left;
	margin-bottom: -1px;
	margin-right: -1px;
}

.tabmenu-wrapper > ul > li.active {
	z-index: 10;
}

.tabmenu-wrapper > ul > li > a {
	display: block;
	min-width: 220px;
	height: 55px;
	padding: 9px 70px 0 70px;
	color: #777777;
	font-size: 18px;
	line-height: 36px;
	background: #fbfbfb;
	border: 1px solid #dadada;
	text-align: center;
}

.tabmenu-wrapper > ul > li.active > a,
.tabmenu-wrapper > ul > li:hover > a {
	position: relative;
	color: #006ed7;
	background: #fff;
	border: 1px solid #0075d6;
	z-index: 10;
}

/* tabmenu list 비율 */
.tabmenu-wrapper.ratio {
	border: 0;
}


.tabmenu-wrapper.ratio > ul > li {
	position: relative;
	float: left;
	width: calc(50% + 1px);
}

.tabmenu-wrapper.ratio > ul > li > a {
	min-width: auto;
	padding: 9px 10px 0 10px;
}

.tabmenu-wrapper.ratio > ul.depth3 > li {
	width: calc(33.33% + 1px);
}

.tabmenu-wrapper.ratio > ul.depth4 > li {
	width: calc(25% + 1px);
}

.tabmenu-wrapper.ratio > ul.depth5 > li {
	width: calc(20% + 1px);
}

.tabmenu-wrapper.ratio > ul.depth6 > li {
	width: calc(16.666% + 1px);
}




.club-wrapper {
	margin-bottom: 35px;
}

.club-wrapper .title-area {
	display: block;
}

.club-wrapper .title-area:after {
	content: "";
	clear: both;
	display: block;
}

.club-wrapper .title-area > h4 {
	float: left;
	margin-right: 15px;
	font-size: 34px;
	line-height: 46px;
	color: #333333;
	font-weight: 500;
	padding-left: 33px;
	letter-spacing: -2px;
	background: url(../img/bul/bul_title02.png) no-repeat left center;
	background-size: 23px 23px;
}

.club-wrapper .title-area > a {
	float: left;
	background: #f4f6fa;
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
	border-radius: 20px;
	margin-top: 6px;
	color: #616161;
	font-size: 14px;
	transition: all 0.2s ease-in-out;
}

.club-wrapper .title-area > a:hover {
	background: #e2e3e4;
}

.club-wrapper .title-area > a > img {
	display: inline-block;
	vertical-align: middle;
	width: 16px;
	margin-left: 7px;
}

.word-type01 {
	color: #777777;
	font-size: 17px;
	line-height: 164%;
	font-weight: 400;
	word-break: keep-all;
	letter-spacing: -0.25px;
}

.word-type01 + div,
.word-type01 + p,
.word-type01 + ul,
.word-type01 + ol,
.word-type01 + dl,
.word-type01 + ul + ol,
.word-type01 + ul + ul,
.word-type01 + ol + ol,
.word-type01 + ol + ul {
	margin-top: 20px;
}

.images-box {
	display: block;
	text-align: center;
}

.images-box > img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}

.images-box > img + img {
	margin-top: 10px;
}

.images-box.w100 img {
	display: block;
	max-width: auto;
	width: 100%;
	margin: 0 auto;
}

.images-box.left {
	text-align: left;
}

.images-box.right {
	text-align: right;
}

.images-box > .pc {
	display: block;
}

.images-box > .mobile {
	display: none;
}

.contents-box .images-box {
	margin-top: 20px;
}


/* table */
/* 표 */
.table-type01 {
	border-top: 2px solid #212121;
}

.table-type01 table thead th {
	padding: 12px;
	background: #e5f5fc;
	color: #212121;
	font-size: 16px;
	line-height: 22px;
	border-right: 1px solid #d8d8d8;
	border-bottom: 1px solid #d8d8d8;
	text-align: center;
	letter-spacing: -1px;
	word-break: keep-all;
}

.table-type01 table thead th:last-child,
.table-type01 table tbody td:last-child,
.table-type01 table tfoot td:last-child {
	border-right: none;
}

.table-type01 table tbody th {
	padding: 12px;
	background: #fff;
	color: #212121;
	font-size: 15px;
	line-height: 22px;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	font-weight: 500;
	text-align: center;
	word-break: keep-all;
}

.table-type01 table tfoot th,
.table-type01 table tfoot td {
	padding: 12px;
	background: #fcfaee;
	color: #212121;
	font-weight: 700;
	font-size: 15px;
	line-height: 22px;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	text-align: center;
	letter-spacing: -1px;
	word-break: keep-all;
}

.table-type01 table tbody th:last-child {
	border-right: none;
}

.table-type01 table tbody td {
	padding: 12px;
	background: #ffffff;
	color: #666666;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	word-break: keep-all;

	
}

.table.word-type01{
	margin-top: 20px;
	position: relative;
	padding-left: 12px;

	background: url(../img/bul/bul_type02.png) no-repeat left 12px;
	background-size: 3px 3px;
	letter-spacing: -0.25px;
}

.ul-caution.word-type01{
	margin-left: 0px;
}

.image-table .table-image{
	overflow: hidden;
	padding: 12px;
	
}

.image-table .table-image img{
	width: 100%;
}

.table-type02 {
	border-top: 2px solid #009be3
}

.table-type02 table thead th {
	padding: 15px;
	background: #e5f5fc;
	color: #0f0f13;
	font-size: 16px;
	line-height: 22px;
	border: 1px solid #c2c2c2;
	text-align: center;
	letter-spacing: -1px;
}

.table-type02 table tbody th {
	padding: 10px;
	background: #fbf7ef;
	color: #363638;
	font-size: 16px;
	line-height: 22px;
	border: 1px solid #dcdcdc;
	border-top: 0;
	font-weight: 500;
	word-break: keep-all;
}

.table-type02 table tfoot th,
.table-type02 table tfoot td {
	padding: 10px;
	background: #fef9c9;
	color: #212121;
	font-weight: 700;
	font-size: 16px;
	line-height: 22px;
	border: 1px solid #d8d4c7;
	border-bottom: 1px solid #d8d4c7;
	text-align: center;
	letter-spacing: -1px;
}


.table-type02 table tbody td {
	padding: 10px;
	background: #fff;
	background: #ffffff;
	color: #666666;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	border: 1px solid #dcdcdc;
	border-top: 0;
	word-break: keep-all;
}

.table-type01 + .table-type01,
.table-type01 + .table-type02,
.table-type01 + .table-type02,
.table-type02 + .table-type02 {
	margin-top: 13px;
}

.table-type01 .bg01,
.table-type02 .bg01 {
	background: #f5f5f5;
	border-right: 1px solid #d9e0ee;
}

.table-type01 .bg02,
.table-type02 .bg02,
.table-type03 .bg02 {
	background: #fcfaee;
	color: #0000ff;
}

.table-type01 .bg03,
.table-type02 .bg03,
.table-type03 .bg03  {
	background: #fcfaee;
	/* border-right: 1px solid #d9e0ee; */
}

.break-all table thead th,
.break-all table tfoot td,
.break-all table tbody th,
.break-all table tbody td {
	word-break: break-all !important
}

.break-all.font-small table thead th,
.break-al.font-small table tfoot td,
.break-all.font-small table tbody th,
.break-all.font-small table tbody td {
	padding-left: 5px;
    padding-right: 5px;
    font-size: 13px;
}


.table-type03 {
	border-top: 0px solid #004483
}

.table-type03 table thead th {
	padding: 12px;
	background: #e9f7fd;
	color: #425d5d;
	font-size: 19px;
	line-height: 24px;
	border-right: 14px solid #fff;
	border-bottom: 14px solid #fff;
	text-align: center;
	letter-spacing: -1px;
	word-break: keep-all;
}

.table-type03 table thead th:last-child,
.table-type03 table tbody td:last-child,
.table-type03 table tfoot td:last-child {
	border-right: none;
}

.table-type03 table tbody th {
	padding: 12px;
	background: #fcf0f2;
	color: #ba0012;
	font-size: 17px;
	line-height: 22px;
	border-right: 14px solid #fff;
	border-bottom: 14px solid #fff;
	font-weight: 500;
	text-align: center;
	word-break: keep-all;
}

.table-type03 table tfoot th,
.table-type03 table tfoot td {
	padding: 12px;
	background: #f7f7f7;
	color: #212121;
	font-weight: 700;
	font-size: 15px;
	line-height: 22px;
	border-right: 14px solid #fff;
	border-bottom: 14px solid #fff;
	text-align: center;
	letter-spacing: -1px;
	word-break: keep-all;
}

.table-type03 table tbody th:last-child {
	border-right: none;
}

.table-type03 table tbody td {
	padding: 13px 10px 12px 10px;
	background: #f7f7f7;
	color: #333;
	font-size: 15px;
	line-height: 20px;
	text-align: center;
	border-right: 12px solid #fff;
	border-bottom: 12px solid #fff;
	word-break: keep-all;
}



/* 아코디언 메뉴 */
.accordion-menu-wrapper {
	display: block;
	border-top: 2px solid #0089d8
}

.accordion-menu-wrapper > dl {
	border-bottom: 1px solid #c5d0d7;
	word-break: keep-all
}

.accordion-menu-wrapper > dl > dt {
	display: block;
}

.accordion-menu-wrapper > dl > dt > a {
	position: relative;
	display: block;
	padding: 15px 50px 15px 0;
	color: #333333;
	font-size: 18px;
	line-height: 26px;
	font-weight: 500;
}

.accordion-menu-wrapper > dl > dt > a .arrow {
	position: absolute;
	top: 50%;
	right: 18px;
	display: block;
	width: 13px;
	height: 8px;
	margin-top: -4px;
	background-image: url(../img/icon/icon_arrow_down03.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 13px 8px;
}


.accordion-menu-wrapper > dl > dt > a.active .arrow {
	background-image: url(../img/icon/icon_arrow_up03.png);
}

.accordion-menu-wrapper > dl > dd {
	display: none;
	padding: 15px 0;
	color: #666666;
	font-size: 16px;
	line-height: 26px;
	font-weight: 300;
	border-top: 1px solid #c5d0d7;
}


.accordion-menu-wrapper02 {
	display: block;
	border-top: 2px solid #0089d8
}

.accordion-menu-area02 {
	border-bottom: 1px solid #c5d0d7;
	word-break: keep-all
}

.accordion-menu-area02 > h4 {
	display: block;
}

.accordion-menu-area02 > h4 > button {
	position: relative;
	display: block;
	width: 100%;
	padding: 15px 50px 15px 15px;
	color: #333333;
	font-size: 18px;
	line-height: 26px;
	font-weight: 500;
	text-align: left;
}

.accordion-menu-area02 > h4 > button .arrow {
	position: absolute;
	top: 50%;
	right: 18px;
	display: block;
	width: 13px;
	height: 8px;
	margin-top: -4px;
	background-image: url(../img/icon/icon_arrow_down03.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 13px 8px;
}


.accordion-menu-area02 > h2 > button.active .arrow {
	background-image: url(../img/icon/icon_arrow_up03.png);
}

.accordion-menu-box02 {
	display: none;
	padding: 25px 30px;
	background: #f9f9f9;
	color: #999999;
	font-size: 16px;
	line-height: 26px;
	font-weight: 300;
	border-top: 1px solid #c5d0d7;
}

/* 학과시설 */
.facilities-wrapper {
	display: block;
}

.facilities-area {
	position: relative;
	min-height: 270px;
	padding: 30px 0 30px 342px;
	border-bottom: 1px solid #d9d9d9
}

.facilities-area.four-picture-area {
	min-height: 915px;
}

.facilities-area:first-child {
	border-top: 1px solid #d9d9d9
}

.facilities-area > .image {
	position: absolute;
	top: 30px;
	left: 0;
	display: block;
	width: 310px;
	height: 210px;
	overflow: hidden;
}

.facilities-area > .image.high {
	height: 425px;
}

.facilities-area > .image.four-picture {
	height: 855px;
}

.facilities-area > h4 {
	color: #0263be;
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
	padding-top: 13px;
	margin-bottom: 15px;
	word-break: keep-all;
}

.facilities-area > h4 > span {
	color: #adadad
}

.facilities-detail-information {
	display: block;
}

.facilities-detail-information > dl {
	display: table;
	width: 100%;
	border-bottom: 1px solid #dddddd;
	background: #f5f5f5;
}

.facilities-detail-information > dl:first-child {
	border-top: 1px solid #dddddd;
}

.facilities-detail-information > dl > dt {
	display: table-cell;
	padding: 5px 15px 6px 15px;
	width: 137px;
	font-size: 13px;
	line-height: 18px;
	font-weight: 500;
}

.facilities-detail-information > dl > dd {
	display: table-cell;
	padding: 5px 15px;
	background: #fff;
	font-size: 13px;
	line-height: 18px;
	color: #9b9b9b;
}

.facilities-area > p,
.facilities-area > ul,
.facilities-area > ol {
	display: block;
	font-size: 16px;
	line-height: 24px;
	color: #828282;
}

.facilities-area > h5 {
	display: block;
	font-size: 16px;
	line-height: 24px;
	color: #414141;
	font-weight: 700;
}

.facilities-area div + h5,
.facilities-area p + h5,
.facilities-area ul + h5,
.facilities-area ol + h5 {
	margin-top: 16px;
}


.facilities-area h5 + div,
.facilities-area h5 + p,
.facilities-area h5 + ul,
.facilities-area h5 + ol {
	margin-left: 0;
}

.facilities-wrapper02 {
	display: block;
}

.facilities-wrapper02:after {
	content: "";
	clear: both;
	display: block;
}

.facilities-area02 {
	float: left;
	width: calc(50% - 15px);
}

.facilities-area02:nth-child(even) {
	float: right;
}

.facilities-area02 > .image {
	position: relative;
	display: block;
	width: 100%;
	padding-bottom: 67.4%;
	overflow: hidden;
}

.facilities-area02 > h4 {
	display: block;
	color: #0263be;
	font-size: 20px;
	line-height: 26px;
	padding: 16px 0 5px 0;
	font-weight: 500;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-break: keep-all;
}

.facilities-area02 > h4.type02{
	margin-bottom:20px;
}

.facilities-area02 > p {
	display: block;
	height: 72px;
	margin-bottom: 20px;
	color: #828282;
	font-size: 16px;
	line-height: 24px;
	word-break: keep-all;
 	display:-webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient:vertical;
	overflow:hidden;
	text-overflow:ellipsis;
	word-break: keep-all;
}

.facilities-wrapper03 {
	display: block;
	margin-top: 10px;
}

.facilities-wrapper03:after {
	content: "";
	clear: both;
	display: block;
}

.facilities-area03 {
	float: left;
	width: 32%;
	margin-right: 2%;
	margin-bottom: 2%;;
}

.facilities-area03:nth-child(3n) {
	margin-right: 0;
}

.facilities-area03 > .image {
	position: relative;
	display: block;
	width: 100%;
	padding-bottom: 69%;
	overflow: hidden;
	margin-bottom: 10px;
}

.facilities-area03 > .title {
	display: block;
	height: 40px;
	color: #424242;
	font-size: 16px;
	line-height: 20px;
	font-weight: 500;
	text-align: center;
	display:-webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient:vertical;
	overflow:hidden;
	text-overflow:ellipsis;
	word-break: keep-all;
}



/* 강의 시간표 */
.search-schdule-wrapper {
	position: relative;
	margin: 13px 0;
	padding-left: 65px;
}

.search-schdule-wrapper > dt {
	position: absolute;
	top: 50%;
	left: 0;
	color: #424242;
	font-size: 15px;
	line-height: 26px;
	transform: translate(0, -50%);
}

.search-schdule-wrapper > dd {
	display: block;
}

.search-schdule-area {
	position: relative;
	padding-right: 118px;
}

.search-schdule-area > select {
	display: block;
	width: 100%;
	height: 45px;
	color: #828282;
	font-size: 15px;
	border: 1px solid #d9d9d9;
	background-position: 98% center;
	background-size: 8px 4px;
}

.search-schdule-area > button {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	width: 118px;
	height: 45px;
	background: #31343f;
	color: #fdfdfd;
	font-size: 16px;
}

/* 인사말 */
.greeting-wrapper {
	position: relative;
}

.greeting-wrapper.type02 {
	padding-left: 350px;
	min-height: auto;
	padding-bottom: 0;
	padding-right: 0;
	word-break: keep-all;
}


.greeting-wrapper:after {
	content: "";
	clear: both;
	display: block;
}

.greeting-slogan-wrapper {
	position: relative;
	padding-right: 410px;
	min-height: 270px;
	padding-bottom: 25px;
}

.greeting-slogan-wrapper.none-height {
	min-height: auto;
	padding-bottom: 0;
	padding-right: 0;
	word-break: keep-all;
}

.greeting-slogan-wrapper .greeting-box {
	padding-bottom: 20px;
	margin-bottom: 30px;
	background-image: url(../img/bg/bg_greeting_line01@2x.gif);
	background-repeat: no-repeat;
	background-size: 60px 2px;
	background-position: left bottom;
}

.greeting-slogan-wrapper .summary {
	padding-bottom: 20px;
	font-size: 22px;
	line-height: 30px;
	color: #333333;
	letter-spacing: -1px;
	font-weight: 400;
}

.greeting-slogan-wrapper .summary > span {
	display: block;
}

.greeting-slogan-wrapper .greeting {
	color: #333333;
	font-size: 36px;
	line-height: 46px;
	font-weight: 500;
	padding-bottom: 20px;
	letter-spacing: -3px;
}

.greeting-slogan-wrapper .greeting > strong {
	color: #00a6f7;
	font-weight: 500;
}

.greeting-slogan-wrapper .greeting > span {
	display: block;
}

.greeting-slogan-wrapper > img {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	width: 397px;
}

.greeting-wrapper.type02 .greeting-slogan-wrapper {
	position: static;
}

.greeting-wrapper.type02 .greeting-slogan-wrapper > img {
	right: initial;
	right: auto;
	left: 0;
	width: 300px;
}

.greeting-wrapper > dl {
	float: right;
	margin-top: 50px;
	text-align: right;
}

.greeting-wrapper > dl > dt {
	position: relative;
	display: block;
	color: #666666;
	font-size: 16px;
	line-height: 26px;
	font-weight: 300;
	padding-top: 21px;
}

.greeting-wrapper > dl > dt > .bg-line {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	width: 70px;
	height: 1px;
	background: #333333;
}

.greeting-wrapper > dl > dd {
	display: block;
	color: #333333;
	font-size: 24px;
	line-height: 26px;
}

.greeting-wrapper .btn-professor {
	display: inline-block;
	vertical-align: middle;
	height: 44px;
	padding: 7px 26px 0 26px;
	border-radius: 22px;
	font-size: 16px;
	line-height: 30px;
	color: #333333;
	background: #f9f9f9;
	transition: all 0.2s ease-in-out;
}

.greeting-wrapper .btn-professor:hover {
	background: #e2e3e4;
}

.greeting-wrapper .btn-professor > strong {
	color: #00a6f7;
	font-weight: 400;
}

.greeting-wrapper .btn-professor > img {
	display: inline-block;
	vertical-align: baseline;
	width: 22px;
}

.greeting-wrapper .word-sign {
	text-align: right;
	margin-top: 47px;
	color: #333333;
	font-size: 20px;
	line-height: 28px;
}

.greeting-wrapper .word-sign > strong {
	display: inline;
	font-size: 20px;
	line-height: 28px;
	font-weight: 700;
}

/* 연혁 */
.history-wrapper {
	display: block;
}

.history-area {
	position: relative;
	border-top: 1px solid #ebeaea;
	border-bottom: 1px solid #ebeaea;
	padding: 35px 35px 35px 150px;
	margin-top: -1px;
}

.history-area:first-child {
	border-top: 0;
	padding-top: 0;
}

.history-area > h4 {
	position: absolute;
	top: 28px;
	left: 0;
	width: 150px;
	text-align: left;
	color: #0da1e2;
	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
	margin: 0;
}

.history-area > h4.type02 {
	font-size: 32px;
	width: 185px;
	text-align:left;
}

.history-area:first-child > h4 {
	top: 0;
}


.history-box {
	display: block;
}

.history-box > dl {
	position: relative;
	padding-left: 120px;
	margin-bottom: 5px;
	font-size: 17px;
	line-height: 26px;
}

.history-box > dl.type02 {
	padding-left: 70px;
}

.history-box > dl:last-child {
	margin-bottom: 0;
}

.history-box > dl > dt {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	color: #4a4143;
	font-weight: 500;
}

.history-box > dl > dd {
	padding-left: 13px;
	background-image: url(../img/bul/bul_history_type01@2x.gif);
	background-repeat: no-repeat;
	background-position: 0 11px;
	background-size: 7px 6px;
	color: #828282;
	font-weight: 300;
	word-break: keep-all;
}

/*190618_bjh추가*/

.explain {
	margin-bottom: 15px;
	font-size: 22px;
	line-height: 30px;
	color: #333333;
	letter-spacing: -1px;
}

.big-title {
	color: #333333;
	font-size: 34px;
	line-height: 46px;
	font-weight: 500;
	margin-bottom: 15px;
	letter-spacing: -0.5px;
}

.big-title > strong {
	color: #00a6f7;
	font-weight: 500;
}

.big-title > span {
	display: block;
}

.ol-list02 {
	display: block;
}

.ol-list02 > li {
	position: relative;
	padding-left: 34px;
	margin-bottom: 8px;
	color: #666666;
	font-size: 16px;
	line-height: 24px;
	font-weight: 300;
	word-break: keep-all;
}

.ol-list02 > li .number {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 25px;
	height: 25px;
	padding-top: 5px;
	border-radius: 50%;
	text-align: center;
	color: #424242;
	background: #e8e8e8;
	font-weight: 300;
	font-size: 14px;
	line-height: 16px;
}


.ol-list03 {
	display: block;
}

.ol-list03 > li {
	margin-bottom: 10px;
	display: table;
	width:100%;
}

.ol-list03 > li.bg01{
	background-color: #edf6fa;
}

.ol-list03 > li.bg02{
	background-color: #e7ebf2;
}

.ol-list03 > li.bg03{
	background-color: #eceef0;
}

.ol-list03 > li .number {
	display: table-cell;
	text-align: center;
	vertical-align:middle;
	padding: 30px;
	width:10%;
	color: #fff;
	font-weight: 500;
	font-size: 22px;
	line-height: 16px;
	border-radius:5px 0 0 5px;
}

.ol-list03 > li .number.type02 {
	width:25%;
}

.ol-list03 > li .number.bg01 {
	background-color: #66b5d8;
}

.ol-list03 > li .number.bg02 {
	background-color: #7e97c1;
}

.ol-list03 > li .number.bg03 {
	background-color: #93999f;
}

.ol-list03 > li > p{
	display: table-cell;
	width:85%;
	padding:25px;
	vertical-align:middle;
	color: #333;
	font-size: 16px;
	line-height: 24px;
	font-weight: 300;
	word-break: keep-all;
	border-radius:5px;
}

.ol-list03 > li > p.type02{
	width:80%;
}



.half-wrap {
	*zoom:1;
}

.half-wrap:after {
	display: block;
	content: "";
	clear: both;
}
.half-content-wrap {
	float: left;
	width: 50%;
}

/*취업산업체*/

.fix {
	*zoom:1;
}

.fix:after {
	display: block;
	content: "";
	clear: both;
}

.company-wrap {
	float:left;
	width:23.5%;
	margin-right:2%;
	margin-bottom: 70px;
	text-align: center;
}

.company-wrap.depth3 {
	width: 32%;
}

.company-wrap > .company-box {
	display: block;
	border:1px solid #ededed;
	width: 100%;
}

.company-wrap:nth-child(4n){
	margin-right:0;
}

.company-wrap:nth-child(4n + 1){
	clear: both;
}

.company-wrap.depth3:nth-child(4n) {
	margin-right: 2%
}

.company-wrap.depth3:nth-child(3n) {
	margin-right: 0
}

.company-wrap.depth3:nth-child(4n + 1){
	clear: initial;
}

.company-wrap.depth3:nth-child(3n + 1){
	clear: both;
}



.company-wrap > .company-box > img{
	width: 100%;
}

.company-wrap > .company-box > .text-box {
	border-top:1px solid #ededed;
	color:#333;
	font-size: 16px;
	line-height: 20px;
	background-color:#f5f5f5;
	padding:0.75rem 0;
	text-align:center;
}

.company-wrap > .company-box > .text-box02 {
	display: table;
	vertical-align: middle;
	width: 100%;
	height: 80px;
	border-top:1px solid #ededed;
	color:#333;
	font-size: 16px;
	line-height: 20px;
	padding: 0 0.75rem;
	background-color:#f5f5f5;
	text-align:center;
}

.company-wrap > .company-box > .image {
	position: relative;
	display: block;
	width: 100%;
	padding-top: 65%;
}

.company-wrap > .company-box > .text-box02 > strong {
	vertical-align: middle;
	display: table-cell;
	text-align:center;
	font-weight: 400;
}

.company-wrap > .company-box > .text-box02 > strong > span {
	display: block;
}

.company-wrap > .company-box > a {
	position: relative;
	display: block;
	width: 100%;
}

.company-wrap > .company-box > a > img{
	width: 100%;
}

.company-wrap > strong {
	display: block;
	padding: 0 10px;
	margin-top: 14px;
	color: #666666;
	font-size: 17px;
	line-height: 22px;
	letter-spacing: -0.25px;
	font-weight: 400;
	word-break: break-all;
}

/*비전*/
.vision-wrap {
	float:left;
	width:32%;
	margin-right:2%;
	margin-bottom:3rem;
}

.vision-wrap:nth-child(3n){
	margin-right:0;
}

.vision-wrap img{
	width:100%;
	height:192px;
}

.vision-wrap dl{
	margin-top:25px;
}

.vision-wrap dl dt{
	font-size:24px;
	line-height:20px;
	font-weight:500;
	color:#0263be;
	letter-spacing:-0.25px;
	margin-bottom:10px;
}

.vision-wrap dl dd{
	font-size:16px;
	line-height:22px;
	color:#828282;
	letter-spacing:-0.25px;
}


.btn-prmovie,
.btn-new-windows {
	display: inline-block;
	vertical-align: middle;
	background: #f4f6fa;
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
	border-radius: 20px;
	margin-top: 6px;
	color: #616161;
	font-size: 14px;
	transition: all 0.2s ease-in-out;
}

.btn-prmovie:hover,
.btn-new-windows:hover {
	background: #e2e3e4;
}

.btn-prmovie > img,
.btn-new-windows > img {
	display: inline-block;
	vertical-align: middle;
	width: 16px;
	margin-left: 7px;
}

.word-sub-slogan01 {
	margin-bottom: 13px;
	font-size: 22px;
	line-height: 26px;
	color: #333333;
	font-weight: 300;
}


.new-window {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin-left: 3px;
	width: 9px;
	height: 10px;
	background: transparent url(../img/icon/icon_new_window02.gif);
	background: -webkit-linear-gradient(transparent,transparent),url(../img/icon/icon_new_window02@2x.gif);
	background: linear-gradient(transparent,transparent),url(../img/icon/icon_new_window02@2x.gif);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 9px 10px;
	text-indent: -5000rem;
	font-size: 0;
	z-index: 1;
}

.word-sign {
	text-align: right;
}

.word-sign > span,
.word-sign > strong {
	display: block;
	color: #000000;
}

.word-sign > span {
	font-size: 20px;
	line-height: 32px;
	font-weight: 300;
}

.word-sign > strong {
	font-size: 30px;
	line-height: 32px;
	font-weight: 500;
}

/* 레이업 배너 팝업 모바일 */
.mask-popupzone {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.7;
	z-index: 100;
}
.popupzone-wrapper {
	display: none;
}

/* 로그인 */
.login-wrapper {
	padding-top: 81px;
}

.login-area {
	max-width: 355px;
	margin: 0 auto;
}

.login-area > input {
	display: block;
	margin-bottom: 9px;
	width: 100%;
	height: 60px;
	text-indent: 20px;
	font-size: 16px;
	color: #424242;
	font-weight: 500;
	border: 1px solid #d2d2d2;
}

.login-area > input::placeholder {
	color: #7c7c7c;
}

.login-area > button {
	display: block;
	width: 100%;
	height: 60px;
	line-height: 60px;
	background: #4260a8;
	color: #fff;
	font-size: 24px;
	font-weight: 700;
}

.login-radio-wrapper {
	display: block;
	margin-bottom: 20px;
}

.login-radio-wrapper:after {
	content: "";
	clear: both;
	display: block;
}

.login-radio-area {
	float: left;
}

.login-radio-area + .login-radio-area {
	margin-left: 36px;
}

.login-radio-area > input[type="radio"] {
	display: inline-block;
	vertical-align: middle;
	margin-right: 2px;
}

.login-radio-area > input[type="radio"] + label {
	display: inline-block;
	vertical-align: middle;
	font-size: 18px;
	line-height: 24px;
	color: #333333;
	letter-spacing: -0.25px;
}



/* 졸업생 한마디 */
.student-slide-wrapper {
	padding: 45px 50px 50px 50px;
	border: 20px solid #f1f1f1;
}

.student-information-wrapper {
	position: relative;
	display: block;
	padding-left: 230px;
	min-height: 238px;
}


.student-information-wrapper > .image {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 190px;
	height: 238px;
	overflow: hidden;
}

.student-information-area {
	display: block;
	min-height: 238px;
}

.student-information-area > h4 {
	display: block;
	margin-bottom: 9px;
	color: #333333;
	font-size: 30px;
	line-height: 40px;
	font-weight: 700;
	letter-spacing: -0.25px;
	word-break: keep-all;
}

.student-information-area > p {
	color: #666666;
	font-size: 18px;
	line-height: 32px;
	font-weight: 300;
	letter-spacing: -0.25px;
	word-break: keep-all;
}

.student-information-area > p.graduation-name-yy {
	margin-top: 12px;
	color: #333333;
	font-size: 20px;
	line-height: 26px;
	font-weight: 700;
}

.student-option-wrapper {
	position: relative;
	margin-top: 92px;
	padding: 0 30px;
	height: 26px;
	text-align: center;
}

.student-option-wrapper #main-student-pagination01 {
	position: static;
	margin-top: 7px;
}

.student-option-wrapper #main-student-pagination01 .swiper-pagination-bullet {
	display: inline-block;
	vertical-align: middle;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	margin: 0 4px;
	background-color: #c3c5c9;
	opacity: 1;
}

.student-option-wrapper #main-student-pagination01 .swiper-pagination-bullet-active {
	background-color: #189ce1;
}

.student-btn-prev {
	position: absolute;
	top: 50%;
	left: 0;
	display: block;
	width: 16px;
	height: 26px;
	margin-top: -13px;
	background-image: url(../img/btn/btn_previous01.png);
	background-repeat: no-repeat;
	background-size: 16px 26px;
	background-repeat: no-repeat;
	text-indent: -5000rem;
}

.student-btn-next {
	position: absolute;
	top: 50%;
	right: 0;
	display: block;
	width: 16px;
	height: 26px;
	margin-top: -13px;
	background-image: url(../img/btn/btn_next01.png);
	background-repeat: no-repeat;
	background-size: 16px 26px;
	background-repeat: no-repeat;
	text-indent: -5000rem;
}

/* 교육시설 &amp; 기자재 */
.facilities-slide-wrapper {
	display: block;
}

.facilities-slide-wrapper:after {
	content: "";
	clear: both;
	display: block;
}

.facilities-slide-area {
	position: relative;
	width: calc(50% - 19px);
	margin-bottom: 40px;
}


.facilities-slide-area:nth-child(even) {
	float: right;
}

.facilities-slide-area:nth-child(odd) {
	clear: both;
	float: left;
}

.facilities-slide-area > h4 {
	display: block;
	width: 100%;
	height: 49px;
	background-color: #f5f7f7;
	padding: 12px 160px 0 19px;
	color: #000000;
	font-size: 20px;
	line-height: 26px;
	font-weight: 500;
	letter-spacing: -0.5px;
}

.facilities-slide-box {
	display: block;
}

.facilities-slide-box img {
	display: block;
	width: 100%;
}

.facilities-slide-box p {
	display: block;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #333333;
	font-size: 15px;
	line-height: 26px;
	font-weight: 300;
	letter-spacing: -0.25px;
	word-break: keep-all;
}

.facilities-option-btn {
	position: absolute;
	top: 0;
	right: 0;
}

.facilities-option-btn:after {
	display: block;
	content: "";
	clear: both;
}

.facilities-option-btn > button {
	float: left;
	width: 50px;
	height: 49px;
	background-color: #03c3ed;
	border-left: 1px solid #0bd1f7;
	text-indent: -5000rem;
	background-repeat: no-repeat;
	background-size: 50px 49px;
	background-position: center;
}

.facilities-option-btn > button.swiper-button-play {
	background-image: url(../img/btn/btn_start02.png);
}

.facilities-option-btn > button.swiper-button-pause {
	background-image: url(../img/btn/btn_stop02.png);
}

.facilities-option-btn > button.facilities-prev {
	background-image: url(../img/btn/btn_previous02.png);
}

.facilities-option-btn > button.facilities-next {
	background-image: url(../img/btn/btn_next02.png);
}

.div-pdf {
	margin-top: 20px;
	width: 100%;
	height: 960px;
	border:1px solid #dddddd;
}

.btn-download {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	min-width: 163px;
	height: 50px;
}

.btn-download:before {
	position: absolute;
	top: 0;
	left: 50%;
	display: block;
	content: "";
	width: 0;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.15);
	transition: all 0.2s ease-in-out;
}

.btn-download:hover:before,
.btn-download:focus:before {
	left: 0;
	width: 100%;
}

.btn-download.type01 {
	background-color: #1963b9
}

.btn-download.type02 {
	background-color: #967c57
}


.btn-download > span {
	position: relative;
	display: block;
	padding: 0 15px 0 21px;
	z-index: 10;
}

.btn-download > span:after {
	content: "";
	clear: both;
	display: block;
}

.btn-download > span > strong {
	float: left;
	font-size: 16px;
	line-height: 36px;
	margin-top: 8px;
	font-weight: 500;
	color: rgba(255, 255, 255, 0.9);
}

.btn-download > span > img {
	float: right;
	width: 16px;
	margin-top: 17px;
}


/* 학사일정 */
.schedule_head {
	position: relative;
	padding: 0 35px;
	margin-bottom: 30px;
	border: 6px solid #eaeaea;
}

.schedule_head h4 {
	height: 74px;
	line-height: 74px;
	border-bottom: 1px solid #e4e5e6;
	text-align: center;
	font-size: 28px;
	color: #333;
	letter-spacing: -1px
}

.schedule_head h4 b {
	font-weight: Normal;
	color: #00a0e3
}

.schedule_head > button {
	position: absolute;
	top: 25px;
	padding-left: 23px;
	background-repeat: no-repeat;
	background-position: 0 center;
	background-size: 8px 13px;
	font-size: 15px;
	color: #555555;
	font-weight: 500
}

.schedule_head > button.prev {
	left: 35px;
	background-image: url(../img/btn/btn_previous01.png);

}

.schedule_head > button.next {
	right: 35px;
	padding-right: 23px;
	background-image: url(../img/btn/btn_next01.png);
	background-repeat: no-repeat;
	background-position: 100% center;
	background-size: 8px 13px;
}

.schedule_head .month ul {
	width: 100%;
	overflow: hidden;
	padding: 20px 0;
	font-size: 0
}

.schedule_head .month ul li {
	float: left;
	width: 8.33%;
	text-align: center;
	vertical-align: top
}

.schedule_head .month ul li button {
	font-size: 18px;
}

.schedule_head .month ul li.on button {
	border-bottom: 3px solid #00a0e3;
	color: #00a0e3;
}

.schedule_list {
	border-top: 2px solid #2b2b2b;
	background: #f5f8fb
}

.schedule_list > div {
	position: relative;
	padding-left: 180px;
	border-bottom: 1px solid #bbb
}

.schedule_list > div h5 {
	position: absolute;
	top: 50%;
	left: 0;
	width: 180px;
	margin-top: -24px;
	text-align: center;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700
}

.schedule_list > div h5 span {
	display: block;
	font-size: 15px;
	line-height: 24px;
	font-weight: 300;
}

.schedule_list > div ul {
	margin-top: 0 !important;
	background: #fff;
	min-height: 54px;
}

.schedule_list > div ul li {
	position: relative;
	padding: 16px 0 16px 220px;
	color: #666
}

.schedule_list > div ul li+li {
	border-top: 1px solid #e1e1e1
}

.schedule_list > div ul li time {
	position: absolute;
	left: 30px;
	font-weight: 600;
	color: #000
}

.schedule_list > div ul li.no_data {
	padding: 16px;
	text-align: center;
}

.class-view-wrapper {
	position: relative;
	padding-left: 308px;
}

.class-view-wrapper > img {
	position: absolute;
	top: 8px;
	left: 0;
	display: block;
	width: 277px
}

.class-view-wrapper > p {
	font-size: 18px;
	line-height: 32px;
	color: #333333;
	font-weight: 300;
	letter-spacing: -0.25px;
	word-break: keep-all;
}

/* 비전 및 교육목표 */
.table-vision {
	display: block;
}

.table-vision > table {
	width: 100%;
}

.table-vision > table td {
	vertical-align: top;
}

.table-vision > table .line {
	border: 1px solid #dddddd;
}

.table-vision > table .line.type01 {
	border-top: 4px solid #05ccff
}

.table-vision > table .line.type02 {
	border-top: 4px solid #00d10a
}

.table-vision > table .line.type03 {
	border-top: 4px solid #f9669f
}

.vision-process-wrapper {
	padding: 26px;
}

.vision-process-wrapper > h4 {
	text-align: center;
	padding-top: 12px;
	padding-bottom: 27px;
	border-bottom: 1px solid #dddddd
}

.vision-process-wrapper > h4 > img {
	display: block;
	margin: 0 auto 14px auto;
}

.vision-process-wrapper > h4 strong {
	display: block;
	font-size: 34px;
	line-height: 35px;
	letter-spacing: -0.25px;
	font-weight: 900;
}

.type01 .vision-process-wrapper > h4 strong {
	color: #05cdf1
}

.vision-process-area> .word-type01 .type01 {
	color: #02b1d1
}

.type02 .vision-process-wrapper > h4 strong {
	color: #1fd473
}


.vision-process-area> .word-type01 .type02 {
	color: #24a216
}

.type03 .vision-process-wrapper > h4 strong{
	color: #f9649f
}

.vision-process-area> .word-type01 .type03 {
	color: #e44d89;
}

.vision-process-area {
	padding-top: 25px;
	text-align: center;
}

.vision-process-area > h5 {
	margin-top: 21px;
	margin-bottom: 10px;
	color: #212121;
	font-size: 18px;
	line-height: 28px;
	font-weight: 700;
	letter-spacing: -0.25px;
}

.vision-process-area > h5:first-child {
	margin-top: 0;
}

.vision-process-area > ul {
	text-align: left;
}

.gray-box {
	margin: 10px 0 20px 0;
	padding: 30px;
	background-color: #f5f5f5;
	border: 1px solid #c2c2c2;
}

.contents-area.subject .contents-box {
	padding-left: 0;
	padding-bottom: 25px;
	border-bottom: 1px solid #eeeeee;
	margin-bottom: 30px;
}

.contents-area.subject .contents-box:last-child {
	border-bottom: 0;
	margin-bottom: 0;
}


.major-courses-wrapper {
	min-height:250px;
	padding: 36px 36px 38px 49px;
	background-image: url(../img/bg/bg_major_courses01_pc.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right top;
}

.major-courses-wrapper > h4 {
	margin-bottom: 11px;
}

.major-courses-wrapper > h4 > strong {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	font-size: 28px;
	line-height: 45px;
	padding: 0 10px;
	letter-spacing: -0.25px;
	color: #0089d8;
	z-index: 1;
}

.major-courses-wrapper > h4 > strong:after {
	position: absolute;
	bottom: 4px;
	left: 0;
	content: "";
	display: block;
	width: 100%;
	height: 15px;
	background-color: rgba(0, 137, 216, 0.1);
	z-index: 0;
}

.major-courses-wrapper > p {
	padding-left: 8px;
	color: #333333;
	font-size: 18px;
	line-height: 30px;
	letter-spacing: 0.25px;
	font-weight: 300;
}

.major-courses-wrapper > p > span {
	display: block;
}


/* 교육로드맵 */

.edu-roadmap-box{
    
}

.edu-roadmap-img{
    width:100%;
}



/* 국제교류원 소개 */

.intro-slogan-wrapper{
	display: flex;
	align-items: flex-start;
	padding-right: 70px;
	margin-bottom: 35px;
	
}

.intro-slogan-wrapper.type02{
	padding-right: 50px;
}
.intro-slogan-wrapper.type03{
	padding-right: 0px;
	align-items: center;

	font-family: 'Roboto';
}

.intro-slogan-box{
	padding-top: 40px;
	width: 56.8%;
}

.intro-slogan-wrapper.type02 .intro-slogan-box{
	width: unset;
}

.intro-slogan-wrapper.type03 .intro-slogan-box{
	width: unset;
}

.intro-slogan-wrapper.type03 .intro-bg{
	width: unset;
}

.intro-slogan-box .intro{
	font-size: 36px;
	line-height: 138%;
	font-weight: 700;
	color: #1c1c1c;
	word-break: keep-all;
	letter-spacing: -2px;
}

.intro-slogan-box .intro strong{
	color: #0089d8;
}

.intro-slogan-box .intro .intro-strong02{
	color: #00a65d;
}



.intro-slogan-box .intro-slogan{
	text-align: left;
	color: #333333;
	font-weight: 500;
	font-size: 20px;
	line-height: 150%;
	word-break: keep-all;
	width: 90%;
	margin-top: 20px;
}

.intro-slogan-wrapper .intro-bg{
	width: 43.2%;
	overflow: hidden;
}

.intro-slogan-wrapper.type02 .intro-bg{
	width: unset;
	margin-left: 40px;
}

.intro-slogan-wrapper .intro-bg img{
	width: 100%;
}

.intro-wrapper .images-box img.mobile{
	display: none;
}

.map-wrapper{
	margin-bottom: 35px;
}

/* 한국어 교육원 소개 */

.title-type05{
	font-family: 'Roboto';
	font-weight: 500;
	font-size: 22px;
	color: #333333;
	position: relative;
	padding-left: 26px;
	margin-bottom: 16px;
}

.title-type05::before{
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	width: 17px;
	height: 10px;
	
	background: url(../../assets/img/bul/bul_type03.png);
	background-position: center;
	background-size: contain;
}


/* FAQ */


.faq-wrapper {
	word-break: keep-all;
	border-top: 2px solid #66747e
}

.faq-wrapper > dl {
	border-bottom: 1px solid #e7e7e7;
}

.faq-wrapper > dl > dt {
	display: block;
}

.faq-wrapper > dl > dt > a {
	position: relative;
	display: block;
	padding: 22px 55px 22px 70px;
	font-size: 18px;
	line-height: 26px;
	color: #333333;
}

.faq-wrapper > dl > dt > a > strong {
	font-weight: 500;
}

.faq-wrapper > dl > dt > a > .icon-q {
	position: absolute;
	top: 20px;
	left: 20px;
	display: block;
	width: 30px;
}

.faq-wrapper > dl > dt > a > .arrow {
	position: absolute;
	top: 50%;
	right: 20px;
	display: block;
	width: 15px;
	height: 8px;
	margin-top: -4px;
	background: url(../../assets/img/board/icon_arrow_down02@2x_pc.gif) no-repeat 0 0;
	background-size: 15px 8px;
}


.faq-wrapper > dl > dt.active > a > .arrow {
	background: url(../../assets/img/board/icon_arrow_up02@2x_pc.gif) no-repeat 0 0;
	background-size: 15px 8px;
}

.faq-wrapper > dl > dd {
	display: none;
	position: relative;
	padding: 25px 25px 25px 70px;
	background: #f9f9f9;
	color: #666666;
	font-size: 16px;
	line-height: 26px;
	border-top: 1px solid #e7e7e7;
}

.faq-wrapper > dl > dd > .icon-a {
	position: absolute;
	top: 20px;
	left: 20px;
	display: block;
	width: 30px;
}













/* info-box */

.info-box{
	border: 1px solid #eeeeee;
	width: 100%;
	background-color: #f3f6fb;

	display: flex;
	flex-wrap: nowrap;

	padding: 30px 60px;
}

.info-box span{
	font-size: 16px;
	line-height: 175%;
	text-align: left;
	display: flex;
	align-items: center;
	color: #666666;
	font-weight: 400;
	position: relative;
}

.info-box span .bullet{
	content: '';
	display: block;
	width: 3px;
	height: 3px;
	background-color: #666666;
	margin-right: 12px;
	
}

.info-box span:not(:last-child){
	padding-right: 46px;
	border-right: 1px solid #dddddd;
}

.info-box span:not(:first-child){
	margin-left: 30px;
}


/* 학과안내 */


.title-type06{
	font-family: 'Roboto';
	font-weight: 600;
	font-size: 22px;
	color: #333333;
	position: relative;
	padding-left: 26px;
	margin-bottom: 16px;
}

.title-type06::before{
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	width: 17px;
	height: 10px;
	
	background: url(../../assets/img/bul/bul_type03.png);
	background-position: center;
	background-size: contain;
}

.major-list-wrapper{
	margin-bottom: 60px;
}

.major-list-area{
}

.major-list-area ul{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.major-list-area ul::after{
	display: none;
}

.major-list-area ul li{
	position: relative;
	border: 1px solid #e2e4ea;
	background-color: #fff;

	width: calc(50% - 10px);

	margin-bottom: 10px;

	transition: all 0.2s ease-in-out;
	
}

.major-list-area ul li:hover{
	border: 1px solid rgb(190, 202, 209);
	box-shadow: 0 3px 22px rgba(60, 66, 82, 0.1);
	/* box-shadow: 0 3px 22px rgba(24, 34, 60, 0.2); */
}

.major-list-area ul li a{
	

	display: flex;
	align-items: center;
	padding: 30px;
	height: 88px;
	
	border-radius: 10px;
}

.major-list-area ul li span{
	font-weight:500;
	font-size:18px;
	letter-spacing: -1px;
	color:#222222;
	display: block;
	width: 90%;
	word-break: keep-all;
	line-height: 133%;
}

.major-list-area ul li::after{
	border-radius: 100%;
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 35px;
	width: 30px;
	height: 30px;

	background: #f4f6f8 url(../img/btn/btn_arrow_navy01.png) 10px 10px no-repeat;
}

/* 학과안내 - 개별학과설명 */

.major-intro-area{
	margin-bottom: 50px;
}

.major-intro-title-wrapper{
}


.major-intro-title-wrapper .major-course{
	display: block;
	text-align: center;

	font-family: 'Roboto';
	font-weight: 500;
	color: #0089d8;
	font-size: 20px;
	line-height: 100%;

	margin-bottom: 10px;
}

.major-intro-title-wrapper h3{
	display: block;
	text-align: center;

	font-family: 'Roboto';
	font-size: 700;
	color: #333333;
	font-size: 34px;
	line-height: 129%;
	margin-bottom: 30px;
}

.images-box.type02{
	border-radius: 40px 0px 40px 0px;
	overflow: hidden;
}

.major-intro-area .images-box{
	
	margin-bottom: 30px;
}

.major-intro-area .images-box img.pc{
	display: block;
}

.major-intro-area .images-box img.mobile{
	display: none;
}

.major-banchelor{
	font-weight: 500;
	color: #0089d8;
}


















@media only all and (max-width: 1439px){

	.intro-slogan-box .intro{
		font-size: 30px;
	}

	.intro-slogan-box .intro-slogan{
		font-size: 17px;
		
	}

}

@media only all and (max-width: 1239px){


	.intro-slogan-wrapper{
		align-items: center;
		padding-right: 40px;
	}

	.intro-slogan-box{
		padding-top: 20px;
	}

	.intro-slogan-box .intro{
		font-size: 26px;
	}

	.intro-slogan-box .intro-slogan{
		font-size: 15px;
		
	}





}




@media only all and (max-width: 1198px) {
	.professor-list-area {
		padding: 20px 20px 20px 123px;
	}

	.professor-list-area > .image {
		width: 80px;
		height: 106px;
	}

	.professor-list-area > ul > li {
		word-break: break-all;
	}


	.facilities-slide-area > h4 {
		font-size: 16px;
	}


	
	/* info-box */
	
	.info-box{
	
		padding: 24px 40px;
	}

	.info-box span{
		font-size: 15px;
		letter-spacing: -1px;
	}


	.info-box span:not(:last-child){
		padding-right: 24px;
	}

	.info-box span:not(:first-child){
		margin-left: 24px;
	}





}