body,td,select,textarea,tr {
    scrollbar-face-color: #F5F5F5;
    scrollbar-shadow-color: #F5F5F5;
    scrollbar-highlight-color: #F5F5F5;
    scrollbar-3dlight-color: #CDCDCD;
    scrollbar-darkshadow-color: #CDCDCD;
    scrollbar-track-color: #F5F5F5;
    scrollbar-arrow-color: #000000;

    font-family: 돋움;
    font-size:12px;
    color:#707070;
    line-height:150%;
}

img
{border:0}

body,td {font-family:돋움; font-size:12px; color:#6d6d6d; line-height:17px; text-decoration:none;}


input {
    font-family:돋움;
    font-size:12px;
    border:1px solid #AFAFAF; background-color:#ffffff;
}

A:link 					{ font-family:돋움; font-size:12px; color:#6d6d6d; line-height:17px; text-decoration: none}
A:visited 				{ font-family:돋움; font-size:12px; color:#6d6d6d; line-height:17px; text-decoration: none}
A:active 				{ font-family:돋움; font-size:12px; color:#6d6d6d; line-height:17px; text-decoration: none}
A:hover 				{ font-family:돋움; font-size:12px; color:#6d6d6d; line-height:17px; text-decoration: none}

.13font   						{ color: #707070; text-decoration: none; font-size:13px; letter-spacing:-1pt;}
.13font A:link 					{ color: #707070; text-decoration: none; font-size:13px; letter-spacing:-1pt;}
.13font A:visited 				{ color: #707070; text-decoration: none; font-size:13px; letter-spacing:-1pt;}
.13font A:active 				{ color: #707070; text-decoration: none; font-size:13px; letter-spacing:-1pt;}
.13font A:hover 				{ color: #222222; text-decoration: none; font-size:13px; letter-spacing:-1pt;}

.link_line A:link 					{ color: #575757; text-decoration: underline}
.link_line A:visited 				{ color: #575757; text-decoration: underline}
.link_line A:active 				{ color: #575757; text-decoration: underline}
.link_line A:hover 				    { color: #F8771B; text-decoration: underline}

.link_main 							{ color: #828282; text-decoration:none;letter-spacing:-1pt;line-height:130%;}
.link_main A:link 					{ color: #828282; text-decoration:none;letter-spacing:-1pt;line-height:130%;}
.link_main A:visited 				{ color: #828282; text-decoration:none;letter-spacing:-1pt;line-height:130%;}
.link_main A:active 				{ color: #828282; text-decoration:none;letter-spacing:-1pt;line-height:130%;}
.link_main A:hover 				    { color: #222222; text-decoration:none;letter-spacing:-1pt;line-height:130%;}


/* bg */
.bg_body {margin-left: 0px;margin-top: 0px;margin-right: 0px;margin-bottom: 0px;background-color:#ffffff;background-repeat:repeat-x;}


.td_title {background-color:#E9E9E9;}


/* line */
.line_bottom {border-style:solid;border-width:0 0 1 0;border-color:#E9E9E9;}
.line_bottom2 {border-style:solid;border-width:0 0 1 0;border-color:#BFD5C8;}
.line_board {border-style:solid;border-width:0 0 1 0;border-color:#E9E9E9;padding:3 0 0 0;}
.line_box {border-style:solid;border-width:2 2 2 2;border-color:#E9E9E9;}
.line_box2 {border-style:solid;border-width:1 1 1 1;border-color:#E7E5E2;}
.line_topnbot {border-style:solid;border-width:1 0 1 0;border-color:#EDEDED;}
.line_topnbot2 {border-style:solid;border-width:1 0 1 0;border-color:#BFD5C8;}
.line_botdot {border-style:dotted;border-width:0 0 1 0;border-color:#DEDEDE;}


/* input */
.input_none {background-color:#ffffff;border-width:0px;}
.input2 {background-color:#F8F8F8;border-width:1px;border-color:#DFDFDF;border-style:solid;}
.input3 {background-color:#F0F0E6;border-color:#585880;border-width:1px;border-style:Solid;}



/* padding */
.padding_img{padding:0 0 7 0;}
.padding_copyright{padding:0 0 0 224;}
.padding_subtop{padding:0 0 20 0;}
.padding_leftmenu{width:224;align:left;}
.padding_quick{padding:0 0 0 17;}
.padding_txt{padding:0 0 0 17;}
.padding_box{padding:10 0 10 0;}


/* small_font */
.small_common {font-family: 돋움;font-size:11px;color:#575757;line-height:120%;}


/* bold_font */
.b_violet {font-family: "돋움";font-size:12px;color:#9D5B8B;font-weight:bold;}
.b_white {font-family: "돋움";font-size:12px;color:#ffffff;font-weight:bold;}
.b_green {font-family: "돋움";font-size:12px;color:#67AD37;font-weight:bold;}
.b_green2 {font-family: "돋움";font-size:12px;color:#0C6841;font-weight:bold;}

/* color_font */
.color_orange {font-family: 돋움;font-size:12px;color:#FF6C00;}
.color_gray {font-family: 돋움;font-size:12px;color:#363636;}
.font_main {font-family: 돋움;font-size:13px;color:#363636;}


.font {
    font-weight:bold;
    text-align:center;
    font-family: 돋움;
    font-size:9pt;
    color:#80807f;
    line-height:160%;
    word-spacing:-1pt;
}
